<Card_1 Title="@Title">
    <RadzenContent Container="main">
        <RadzenContent Container="main">
            <div class="grid-90">
                <SfGrid Height="100%" RowRenderingMode="RowDirection.Horizontal" AllowFiltering AllowResizing AllowSorting AllowReordering AllowSelection AllowMultiSorting ShowColumnChooser="true" ID="Grid" @ref="DefaultGrid" AllowPdfExport="true" AllowExcelExport="true" AllowPaging="true" DataSource="@items"
                        Toolbar="@(new List<object>() { "ColumnChooser", "Search", "ExcelExport","Add", "Delete",new ToolbarItem() { Template = Caisses, Id = "caisse", TooltipText = "Caisse", Align = ItemAlign.Right}
                    ,new ToolbarItem() { Type = ItemType.Input,Template = Date1, Id = "date1", TooltipText = "Date Début", Align = ItemAlign.Right}
                    ,new ToolbarItem() { Type = ItemType.Input,Template = Date2, Id = "date2", TooltipText = "Date Fin", Align = ItemAlign.Right}})">
                    <GridEditSettings ShowDeleteConfirmDialog="true" AllowAdding="@(type != 1 && caisse != 0)" AllowDeleting="@(caisse != 0)" Mode="Syncfusion.Blazor.Grids.EditMode.Dialog">

                    </GridEditSettings>
                    <GridEvents OnActionBegin="OnActionBegin" OnToolbarClick="ToolbarClickHandler" OnRecordDoubleClick="Edit" TValue="API_V_CAISSEENTETE"></GridEvents>
                    <GridPageSettings PageSize="100"></GridPageSettings>
                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                    <GridTemplates>
                        <EmptyRecordTemplate>
                            <Empty></Empty>
                        </EmptyRecordTemplate>
                    </GridTemplates>
                    <GridAggregates>
                        <GridAggregate>
                            <GridAggregateColumns>
                                <GridAggregateColumn Field="Montant" Type="AggregateType.Sum" Format="N2">
                                    <FooterTemplate>
                                        @{
                                            var SumValue = (context as AggregateTemplateContext);
                                            <div>
                                                @SumValue.Sum
                                            </div>
                                        }
                                    </FooterTemplate>

                                </GridAggregateColumn>
                            </GridAggregateColumns>
                        </GridAggregate>
                    </GridAggregates>
                    <GridColumns>
                        <GridColumn Width="100" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_CAISSEENTETE.Date)" HeaderText="Date" Format="d"></GridColumn>
                        <GridColumn Width="100" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_CAISSEENTETE.Numero)" HeaderText="Piece"></GridColumn>
                        <GridColumn Width="150" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" HeaderText="Bénéficiaire" Field="@nameof(API_V_CAISSEENTETE.PersonnelIntitule)">
                        </GridColumn>
                        @if (type == 0 || type == 1)
                        {
                            <GridColumn HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_CAISSEENTETE.Libelle)" HeaderText="Motif"></GridColumn>
                            <GridColumn Width="100" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_CAISSEENTETE.Montant)" HeaderText="Montant" Format="N2" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"></GridColumn>
                        }
                        @if (type == 2)
                        {
                            <GridColumn Width="200" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" HeaderText="Fournisseur" Field="@nameof(API_V_CAISSEENTETE.CT_Intitule)">
                            </GridColumn>
                            <GridColumn Width="150" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" HeaderText="Matériel" Field="@nameof(API_V_CAISSEENTETE.MaterielIntitule)">
                            </GridColumn>
                            <GridColumn HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" HeaderText="Objet" Field="@nameof(API_V_CAISSEENTETE.Objet)">
                            </GridColumn>
                            <GridColumn Width="150" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" HeaderText="N° Marché" Field="@nameof(API_V_CAISSEENTETE.NumeroMarche)">
                            </GridColumn>
                            <GridColumn HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_CAISSEENTETE.Libelle)" HeaderText="Motif"></GridColumn>
                            <GridColumn Width="100" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_CAISSEENTETE.Montant)" HeaderText="Montant" Format="N2" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"></GridColumn>
                        }
                    </GridColumns>
                    <SfSpinner @bind-Visible="@loading">
                    </SfSpinner>
                </SfGrid>
            </div>
        </RadzenContent>
    </RadzenContent>
</Card_1>





@code
{
    [CascadingParameter]
    public SessionDT session { get; set; } = new SessionDT();
    DB db = new DB();
    [Parameter] public int type { get; set; }
    [Parameter] public bool IsList { get; set; } = true;
    [Parameter] public int Projet { get; set; } = 0;
    [Parameter] public int Materiel { get; set; } = 0;
    [Parameter] public int Personnel { get; set; } = 0;
    [Parameter] public int Tiers { get; set; } = 0;
    [Parameter] public string Title { get; set; } = "";
    string grid_height = "80vh";
    //Components
    private SfGrid<API_V_CAISSEENTETE> DefaultGrid;

    //End components

    private IEnumerable<API_V_CAISSEENTETE> items;
    List<API_V_CAISSEENTETE> rows = new List<API_V_CAISSEENTETE>();
    string activekey = "0";
    bool loading = false;
    List<API_T_Caisse> caisses = new List<API_T_Caisse>();
    int caisse = 0;
    DateTime? date1 = new DateTime(DateTime.Today.Year, DateTime.Today.Month,1);
    DateTime? date2;
    IList<API_V_CAISSEENTETE> selecteditems;
    private SfDropDownList<int, API_T_Caisse> CaisseDrop;
    private RenderFragment Caisses =>
    @<SfDropDownList @ref=@CaisseDrop TValue="int" TItem="API_T_Caisse" Placeholder="CAISSE" DataSource=@(caisses) Width="250" @bind-Value=@caisse>
        <DropDownListFieldSettings Text="C_Nom" Value="id"> </DropDownListFieldSettings>
        <DropDownListEvents TValue="int" TItem="API_T_Caisse" ValueChange="@(args => (UpdateGrid()))"> </DropDownListEvents>
        </SfDropDownList>
    ;
    private RenderFragment Date1 => @<SfDatePicker ShowClearButton ShowTodayButton TValue="DateTime?" @bind-Value="@date1" Width="120px" Placeholder="Date Début" TValue="DateTime?">
            <DatePickerEvents TValue="DateTime?" ValueChange="@(args => (UpdateGrid()))"> </DatePickerEvents>
        </SfDatePicker>;
    private RenderFragment Date2 => @<SfDatePicker ShowClearButton ShowTodayButton TValue="DateTime?" @bind-Value="@date2" Width="120px" Placeholder="Date Fin" TValue="DateTime?">
        <DatePickerEvents TValue="DateTime?" ValueChange="@(args => (UpdateGrid()))"> </DatePickerEvents>
    </SfDatePicker>
    ;
    protected override async Task OnInitializedAsync()
    {
        if (!IsList)
        {
            grid_height = "70vh";
        }
        db = session.db;
        var cs = db.API_T_Caisse_User.Where(a => a.User == sc.User.Id).Select(a => a.Caisse);
        if(cs.Count() != 0)
        {
            caisses = db.API_T_Caisse.Where(a => cs.Contains(a.id)).ToList();
            if(caisses.Count() != 0)
            {
                caisse = caisses.First().id;
            }
        }
        await UpdateGrid();
    }
    private async Task UpdateGrid()
    {
        loading = true;
        await Task.Delay(1);
        items = session.db.API_V_CAISSEENTETE.Where(a => a.Type == type && a.Caisse == caisse && a.Date >= (date1 ?? new DateTime(1900, 1, 1)) && a.Date <= (date2 ?? new DateTime(2900, 12, 31))).OrderBy(a => a.Date).ToList();
        loading = false;
        await Task.Delay(1);
    }

    public async Task ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "Grid_excelexport") //Id is combination of Grid's ID and itemname
        {
            await this.DefaultGrid.ExcelExport();
        }
        if (args.Item.Id == "Grid_pdfexport")  //Id is combination of Grid's ID and itemname
        {
            await this.DefaultGrid.PdfExport();
        }

    }
    private async Task OnActionBegin(ActionEventArgs<API_V_CAISSEENTETE> args)
    {
        if (args.RequestType == Syncfusion.Blazor.Grids.Action.Add
    || args.RequestType == Syncfusion.Blazor.Grids.Action.Print
    || args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
        {
            args.Cancel = true;
        }

        if (args.RequestType == Syncfusion.Blazor.Grids.Action.Add)
        {
            await Add();
        }
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            db.Database.ExecuteSqlRaw("DELETE FROM API_T_CaisseLigne WHERE Entete = {0}",args.Data.id);
            db.Database.ExecuteSqlRaw("DELETE FROM API_V_CAISSEENTETE WHERE id = {0}", args.Data.id);
            db.SaveChanges();
            await UpdateGrid();
        }
    }
    private string getTiers()
    {
        string rs = "Client";
        if (type != 0)
        {
            rs = "Fournisseur";
        }
        return rs;
    }
    protected async Task Edit(RecordDoubleClickEventArgs<API_V_CAISSEENTETE> args)
    {
        if(type == 0 || type == 1)
        {
            await DialogService.OpenAsync<AlimentationFiche>(args.RowData.Numero,
    new Dictionary<string, object>() { { "caisse", caisse }, { "Materiel", Materiel }, { "Personnel", Personnel }, { "Projet", Projet }, { "id", args.RowData.id }, { "operation", "add" }, { "type", type } },
new Radzen.DialogOptions() { CloseDialogOnEsc = true, Width = "800px", Height = "400px" });
        }
        else
        {
            if (IsList)
            {
                await DialogService.OpenAsync<DepenseFiche>(args.RowData.Numero,
        new Dictionary<string, object>() { { "caisse", caisse }, { "Materiel", Materiel }, { "Personnel", Personnel }, { "Projet", Projet }, { "id", args.RowData.id }, { "operation", "add" }, { "type", type } },
        new Radzen.DialogOptions() { CloseDialogOnEsc = true, Width = "700px", Height = "95%" });
            }
            else
            {
                await DialogService.OpenAsync<DepenseFiche>(args.RowData.Numero,
         new Dictionary<string, object>() { { "caisse", caisse }, { "Materiel", Materiel }, { "Personnel", Personnel }, { "Projet", Projet }, { "id", args.RowData.id }, { "operation", "add" }, { "type", type } },
         new Radzen.DialogOptions() { CloseDialogOnEsc = true, Width = "700px", Height = "90%" });
            }
        }



        await UpdateGrid();
    }
    private async Task Add()
    {
        if(type == 0)
        {
            await DialogService.OpenAsync<AlimentationFiche>(Title,
    new Dictionary<string, object>() { { "caisse", caisse }, { "id", 0 }, { "operation", "add" }, { "type", type } },
new Radzen.DialogOptions() { CloseDialogOnEsc = true, Width = "800px", Height = "600px" });
        }
        else
        {
            if (Materiel > 0)
            {
                await DialogService.OpenAsync<DepenseFiche>(Title,
         new Dictionary<string, object>() { { "caisse", caisse }, { "Materiel", Materiel }, { "id", 0 }, { "operation", "add" }, { "type", type } },
         new Radzen.DialogOptions() { CloseDialogOnEsc = true, Width = "700px", Height = "90%" });
            }
            else if (Personnel > 0)
            {
                await DialogService.OpenAsync<DepenseFiche>(Title,
new Dictionary<string, object>() { { "caisse", caisse },{ "Personnel", Personnel }, { "id", 0 }, { "operation", "add" }, { "type", type } },
new Radzen.DialogOptions() { CloseDialogOnEsc = true, Width = "700px", Height = "90%" });
            }
            else if (Projet > 0)
            {
                await DialogService.OpenAsync<DepenseFiche>(Title,
    new Dictionary<string, object>() { { "caisse", caisse }, { "Projet", Projet }, { "id", 0 }, { "operation", "add" }, { "type", type } },
    new Radzen.DialogOptions() { CloseDialogOnEsc = true, Width = "700px", Height = "90%" });
            }
            else
            {
                await DialogService.OpenAsync<DepenseFiche>(Title,
        new Dictionary<string, object>() { { "caisse", caisse }, { "id", 0 }, { "operation", "add" }, { "type", type } },
        new Radzen.DialogOptions() { CloseDialogOnEsc = true, Width = "700px", Height = "95%" });
            }
        }



        await UpdateGrid();
    }

}