@page "/profile"
@attribute [Authorize]

<h1 style="background-color: white; background: unset;">@sc.User.Name.ToUpper()</h1>
<Divider></Divider>
<div class="row" style="height: unset !important">
    <div class="col-md-12">
        <RadzenTemplateForm Method="post" Submit="@FormSubmit" TItem="BusinessWeb.Models.ApplicationUser" Data="@user"
            Visible="@(user != null)">
            <RadzenAlert Size="AlertSize.Large" Shade="Shade.Light" AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Title="Cannot change password" Visible="@errorVisible">@error</RadzenAlert>
            <RadzenAlert Size="AlertSize.Large" Shade="Shade.Light" AlertStyle="AlertStyle.Success" Variant="Variant.Flat" Visible="@successVisible">
                Your password has been changed.
            </RadzenAlert>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-5">
                    <RadzenLabel Component="OldPassword" style="width: 100%" Text="Ancien mot de passe" />
                </div>
                <div class="col-md-7">
                    <RadzenPassword @bind-Value="@oldPassword" style="display: block; width: 100%"
                        Name="OldPassword" />
                    <RadzenRequiredValidator Component="OldPassword" Text="Ancien mot de passe" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-5">
                    <RadzenLabel Component="NewPassword" style="width: 100%" Text="Nouveau mot de passe" />
                </div>
                <div class="col-md-7">
                    <RadzenPassword @bind-Value="@newPassword" style="display: block; width: 100%"
                        Name="NewPassword" />
                    <RadzenRequiredValidator Component="NewPassword" Text="Nouveau mot de passe" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-5">
                    <RadzenLabel Component="ConfirmPassword" style="width: 100%" Text="Confirmer le nouveau mot de passe" />
                </div>
                <div class="col-md-7">
                    <RadzenPassword @bind-Value="@confirmPassword" style="display: block; width: 100%"
                        Name="ConfirmPassword" />
                    <RadzenRequiredValidator Component="ConfirmPassword" Text="Confirmer le nouveau mot de passe" />
                    <RadzenCompareValidator Component="ConfirmPassword" Text="Les mots de passe ne correspondent pas" Value="@newPassword" />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                    <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Change le mot de passe" Variant="Variant.Flat" />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>
</div>
@code {
        protected string oldPassword = "";
        protected string newPassword = "";
        protected string confirmPassword = "";
        protected BusinessWeb.Models.ApplicationUser user;
        protected string error;
        protected bool errorVisible;
        protected bool successVisible;

        protected override async Task OnInitializedAsync()
        {
            user = await sc.GetUserById($"{sc.User.Id}");
        }

        protected async Task FormSubmit()
        {
            try
            {
                await sc.ChangePassword(oldPassword, newPassword);
                successVisible = true;
            }
            catch (Exception ex)
            {
                errorVisible = true;
                error = ex.Message;
            }
        }
}
