<SfToolbar CssClass="btns">
    <ToolbarItems>
        <ToolbarItem Align="ItemAlign.Right">
            <Template>
                <SfButton IconCss="e-icons e-print">Imprimer</SfButton>
            </Template>
        </ToolbarItem>
        <ToolbarItem Align="ItemAlign.Right">
            <Template>
                <SfButton IconCss="e-icons e-save" IsPrimary="true" OnClick="@(args => Submit(true))">Enregistrer</SfButton>
            </Template>
        </ToolbarItem>
    </ToolbarItems>
</SfToolbar>

@if (@row == null)
{
    <div class="spin-center">
        <Spin size="large" />
    </div>
}
else
{
    <div>
        <GridRow>
            <GridCol Xs="24" Md="24">
                <Form Model="@row" Size="@AntSizeLDSType.Small" Layout="@FormLayout.Horizontal" LabelColSpan="8" Context="FormContext">
                    <GridRow>
                        <GridCol Xs="24" Md="9">
                            <Card>
                                <FormItem LabelAlign="AntLabelAlignType.Left" Label="Date" LabelColSpan="8">
                                    <SfDatePicker TValue="DateTime ?" @bind-Value="@row.Date" />
                                </FormItem>
                                <FormItem LabelAlign="AntLabelAlignType.Left" Label="Numéro" LabelColSpan="8">
                                    <SfTextBox @bind-Value="@row.Numero" />
                                </FormItem>
                            </Card>
                        </GridCol>

                        <GridCol Xs="24" Md="15">

                            <Card>
                                <FormItem LabelAlign="AntLabelAlignType.Left" Label="Montant" LabelColSpan="4">
                                    <SfNumericTextBox Readonly @bind-Value="@row.Montant" ShowSpinButton="false" Decimals="2" Format="N2" />
                                </FormItem>
                                <FormItem LabelAlign="AntLabelAlignType.Left" Label="Libelle" LabelColSpan="4">
                                    <SfTextBox @bind-Value="@row.Libelle" />
                                </FormItem>
                            </Card>
                        </GridCol>

                        <GridCol Xs="24" Md="24">
                            <Card>
                                <FormItem LabelAlign="AntLabelAlignType.Left" Label="Affaire" LabelColSpan="4">
                                    <SfDropDownList Query="fn.LocalDataQuery" AllowFiltering TValue="string" TItem="F_COMPTEA"
                                                    DataSource="@affaires" @bind-Value="@row.CA_Num">
                                        <DropDownListEvents TValue="string" TItem="F_COMPTEA" />
                                        <DropDownListFieldSettings Text="CA_Intitule" Value="CA_Num" />
                                    </SfDropDownList>
                                </FormItem>
                                <FormItem LabelAlign="AntLabelAlignType.Left" Label="Collaborateur" LabelColSpan="4">
                                    <SfDropDownList Query="fn.LocalDataQuery" AllowFiltering TValue="int" TItem="F_COLLABORATEUR"
                                                    DataSource="@collaborateurs" @bind-Value="@row.Representant">
                                        <DropDownListEvents TValue="int" TItem="F_COLLABORATEUR" />
                                        <DropDownListFieldSettings Text="CO_Nom" Value="CO_No" />
                                    </SfDropDownList>
                                </FormItem>
                                <FormItem LabelAlign="AntLabelAlignType.Left" Label="Personnel" LabelColSpan="4">
                                    <SfDropDownList Query="fn.LocalDataQuery" AllowFiltering TValue="int" TItem="API_T_Personnel"
                                                    DataSource="@personnels" @bind-Value="@row.Personnel">
                                        <DropDownListEvents TValue="int" TItem="API_T_Personnel" />
                                        <DropDownListFieldSettings Text="Nom" Value="id" />
                                    </SfDropDownList>
                                </FormItem>
                                <FormItem LabelAlign="AntLabelAlignType.Left" Label="Matériel" LabelColSpan="4">
                                    <SfDropDownList Query="fn.LocalDataQuery" AllowFiltering TValue="int" TItem="API_T_Materiel"
                                                    DataSource="@materiels" @bind-Value="@row.Materiel">
                                        <DropDownListEvents TValue="int" TItem="API_T_Materiel" />
                                        <DropDownListFieldSettings Text="Intitule" Value="id" />
                                    </SfDropDownList>
                                </FormItem>
                            </Card>
                        </GridCol>

                        <Divider></Divider>

                        <GridCol Xs="24" Md="24">
                            <div style="height: 37vh;">
                                <SfGrid Height="100%" Toolbar="@(new List<string>() { "Add", "Delete" })" DataSource="@lignes">
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                                    <GridEditSettings ShowDeleteConfirmDialog="true" AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="Syncfusion.Blazor.Grids.EditMode.Normal">
                                    </GridEditSettings>
                                    <GridEvents OnActionBegin="OnActionBegin" OnActionComplete="OnActionComplete" TValue="API_T_NoteFraisLigne"></GridEvents>
                                    <GridTemplates>
                                        <EmptyRecordTemplate>
                                            <Empty></Empty>
                                        </EmptyRecordTemplate>
                                    </GridTemplates>
                                    <GridAggregates>
                                        <GridAggregate>
                                            <GridAggregateColumns>
                                                <GridAggregateColumn Field="Montant" Type="AggregateType.Sum" Format="N2">
                                                    <FooterTemplate>
                                                        @{
                                                            var SumValue = (context as AggregateTemplateContext);
                                                            <div>
                                                                @SumValue.Sum
                                                            </div>
                                                        }
                                                    </FooterTemplate>
                                                </GridAggregateColumn>
                                            </GridAggregateColumns>
                                        </GridAggregate>
                                    </GridAggregates>
                                    <GridColumns>
                                        <GridColumn Width="200" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_T_NoteFraisLigne.Affectation)" HeaderText="Affectation" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left">
                                            <Template>
                                                @{
                                                    var data = (context as API_T_NoteFraisLigne);
                                                    var info = db.API_T_Information.Where(a => a.id == data.Affectation).SingleOrDefault();
                                                    if (info != null)
                                                    {
                                                        <div>@info.Valeur</div>
                                                    }
                                                }
                                            </Template>
                                            <EditTemplate>
                                                @{
                                                    var data = (context as API_T_NoteFraisLigne);
                                                    <div class="ls-parent">
                                                        <div class="ls-child-left">
                                                            <SfDropDownList AllowFiltering TValue="int" TItem="API_T_Information"
                                                                            DataSource="@db.API_T_Information.Where(a => a.Tab == 12).OrderBy(a => a.Valeur).ToList()"
                                                                            @bind-Value="@data.Affectation">
                                                                <DropDownListEvents TValue="int" TItem="API_T_NoteFraisLigne" />
                                                                <DropDownListFieldSettings Text="Valeur" Value="id" />
                                                            </SfDropDownList>
                                                        </div>
                                                        <div class="ls-child-right">
                                                            <RadzenButton Icon="reorder" Click="@(args => Informations(12))" ButtonStyle="ButtonStyle.Primary" Size="Radzen.ButtonSize.ExtraSmall" Class="rz-border-radius-10 rz-shadow-4" />
                                                        </div>
                                                    </div>
                                                }

                                            </EditTemplate>
                                        </GridColumn>
                                        <GridColumn HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_T_NoteFraisLigne.id)" HeaderText="#" IsPrimaryKey="true" Visible="false" IsIdentity="true"></GridColumn>
                                        <GridColumn Width="400" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_T_NoteFraisLigne.Libelle)" HeaderText="Description"></GridColumn>
                                        <GridColumn Width="100" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_T_NoteFraisLigne.Qte)" HeaderText="Qté" EditType="EditType.NumericEdit" EditorSettings="parameters" Format="N2" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"></GridColumn>
                                        <GridColumn Width="100" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_T_NoteFraisLigne.PU)" HeaderText="PU" EditType="EditType.NumericEdit" EditorSettings="parameters" Format="N2" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"></GridColumn>
                                        <GridColumn Width="100" AllowAdding="false" AllowEditing="false" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_T_NoteFraisLigne.Montant)" HeaderText="Montant" EditType="EditType.NumericEdit" EditorSettings="parameters" Format="N2" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"></GridColumn>

                                    </GridColumns>
                                </SfGrid>
                            </div>
                        </GridCol>
                    </GridRow>
                </Form>
            </GridCol>
        </GridRow>
    </div>
}

@code {
    [Parameter] public int id { get; set; } = 0;
    [CascadingParameter] public SessionDT session { get; set; } = new SessionDT();

    private API_T_NoteFraisEntete row { get; set; }
    private List<API_T_NoteFraisLigne> lignes = new List<API_T_NoteFraisLigne>();
    private List<API_T_Personnel> personnels = new List<API_T_Personnel>();
    private List<API_T_Materiel> materiels = new List<API_T_Materiel>();
    private List<F_COMPTEA> affaires = new List<F_COMPTEA>();
    private List<F_COLLABORATEUR> collaborateurs = new List<F_COLLABORATEUR>();
    DB db = new DB();
    NumericEditCellParams parameters = new NumericEditCellParams()
    {
        Params = new NumericTextBoxModel<object>()
        {
            Decimals = 2,
            Format = "N2"
        }
    };
    protected async Task Informations(int Tab)
    {
        await DialogService.OpenAsync<InformationsListe>(fn.GetInformation().Where(a => a.Id == Tab).SingleOrDefault().Name,
      new Dictionary<string, object>() { { "Tab", Tab } },
      new Radzen.DialogOptions() { CloseDialogOnEsc = true, Width = "500px", Height = "90%" });
    }
    protected override void OnInitialized()
    {
        db = session.db;
        GC.Collect();
        personnels = db.API_T_Personnel.AsNoTracking().Select(a => new API_T_Personnel { Nom = a.Prenom + " " + a.Nom, id = a.id }).OrderBy(a => a.Nom).ToList();
        materiels = db.API_T_Materiel.AsNoTracking().Select(a => new API_T_Materiel { Intitule = a.Intitule + " " + a.Immatricule, id = a.id }).OrderBy(a => a.Intitule).ToList();
        affaires = db.F_COMPTEA.AsNoTracking().Select(a => new F_COMPTEA { CA_Num = a.CA_Num, CA_Intitule = a.CA_Num + " - " + a.CA_Intitule }).OrderBy(a => a.CA_Intitule).ToList();
        collaborateurs = db.F_COLLABORATEUR.AsNoTracking().Select(a => new F_COLLABORATEUR { CO_No = a.CO_No, CO_Nom = a.CO_Prenom + " " + a.CO_Nom }).OrderBy(a => a.CO_Nom).ToList();
        if (id != 0)
        {
            // Load existing record
            row = db.API_T_NoteFraisEntete.Where(a => a.id == id).SingleOrDefault();
            lignes = db.API_T_NoteFraisLigne.Where(a => a.Entete == id).OrderBy(a => a.id).ToList();
        }
        else
        {
            // Create new record
            row = new API_T_NoteFraisEntete();
            row.Date = DateTime.Today;
            row.Creation = DateTime.Now;
            row.Modification = DateTime.Now;
            row.Valide = false;

            // Generate new Numero
            string lastNum = db.API_T_NoteFraisEntete
                .Where(a => a.Numero != null && a.Numero.StartsWith("NF"))
                .OrderByDescending(a => a.Numero)
                .Select(a => a.Numero)
                .FirstOrDefault();

            if (!string.IsNullOrEmpty(lastNum))
            {
                // Extract numeric part and increment
                string numericPart = lastNum.Substring(2);
                if (int.TryParse(numericPart, out int num))
                {
                    row.Numero = $"NF{(num + 1).ToString("D7")}";
                }
                else
                {
                    row.Numero = "NF0000001";
                }
            }
            else
            {
                row.Numero = "NF0000001";
            }
        }
    }

    private void Submit(bool close)
    {
        try
        {
            if (id == 0)
            {
                row.Creation = DateTime.Now;
                row.CreationUser = sc.User.Id ?? "System";
                db.API_T_NoteFraisEntete.Add(row);
            }
            else
            {
                row.Modification = DateTime.Now;
                row.ModificationUser = sc.User.Id ?? "System";
                db.API_T_NoteFraisEntete.Update(row);
            }

            db.SaveChanges();
            id = row.id;

            if (close)
            {
                // Close dialog or navigate back
                DialogService.Close();
            }
        }
        catch (Exception ex)
        {
            Message.Error(ex.Message);
        }
    }

    private async Task UpdateTotal()
    {
        row.Montant = lignes.Sum(a => a.Montant);
        db.SaveChanges();
        row = db.API_T_NoteFraisEntete.Where(a => a.id == id).SingleOrDefault();
        lignes = db.API_T_NoteFraisLigne.Where(a => a.Entete == id).OrderBy(a => a.id).ToList();
        await InvokeAsync(StateHasChanged);
    }
    public async Task OnActionBegin(ActionEventArgs<API_T_NoteFraisLigne> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            await UpdateTotal();
        }
    }
    public async Task OnActionComplete(ActionEventArgs<API_T_NoteFraisLigne> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            // Calculate Montant
            args.Data.Montant = args.Data.Qte * args.Data.PU;
            if (args.Data.Libelle == null)
            {
                var inf = db.API_T_Information.Where(a => a.id == args.Data.Affectation).SingleOrDefault();
                if (inf != null)
                {
                    args.Data.Libelle = "N.F N°: " + row.Numero + " " + inf.Valeur;
                }
            }

            if (args.Action == "Add")
            {
                if (id == 0)
                {
                    Submit(false);
                }

                args.Data.Entete = this.id;
                args.Data.Creation = DateTime.Now;
                args.Data.CreationUser = sc.User.Id ?? "System";
                db.API_T_NoteFraisLigne.Add(args.Data);
                db.SaveChanges();
                await UpdateTotal();
            }
            else
            {
                args.Data.Modification = DateTime.Now;
                args.Data.ModificationUser = sc.User.Id ?? "System";

                var local = db.Set<API_T_NoteFraisLigne>().Local.FirstOrDefault(a => a.id == args.Data.id);
                if (local != null)
                {
                    db.Entry(local).State = EntityState.Detached;
                }
                db.Entry(args.Data).State = EntityState.Modified;
                db.SaveChanges();
            }
           
        }

        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            db.API_T_NoteFraisLigne.Remove(args.Data);
            db.SaveChanges();
            await UpdateTotal();
        }


    }
}