@page "/nf-list"
@attribute [Authorize]

@if (IsLoaded)
{
    <Card_1 Title="NOTES DE FRAIS">
        <RadzenContent Container="main">
            <div class="grid-90">
                <SfToolbar>
                    <ToolbarItems>
                        <ToolbarItem OnClick=@(args => (DefaultGrid.OpenColumnChooserAsync(1, 1))) TooltipText="Colonnes selectionnées" Text="Colonnes selectionnées" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Left" PrefixIcon="e-icons e-more-vertical-2"></ToolbarItem>

                        <ToolbarItem OnClick=@(args => (DefaultGrid.PrintAsync())) TooltipText="Imprimer" Text="Imprimer" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Left" PrefixIcon="e-icons e-print"></ToolbarItem>
                        <ToolbarItem OnClick=@(args => (DefaultGrid.ExportToExcelAsync(fn.ExportToExcelAsync()))) TooltipText="Export Excel" Text="Export Excel" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Left" PrefixIcon="e-icons e-export-excel"></ToolbarItem>

                        <ToolbarItem TooltipText="Supprimer" Text="Supprimer" OnClick=@(args => (DefaultGrid.DeleteRecordAsync())) ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Left" PrefixIcon="e-icons e-trash"></ToolbarItem>
                        <ToolbarItem TooltipText="Ajouter" Text="Ajouter" OnClick=@(args => (DefaultGrid.AddRecordAsync())) ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Left" PrefixIcon="e-icons e-circle-add"></ToolbarItem>
                        <ToolbarItem Align="ItemAlign.Left" Type="ItemType.Separator" />


                        <ToolbarItem TooltipText="CHERCHE" Align="ItemAlign.Right" Overflow="OverflowOption.Show" Type="ItemType.Input">
                            <Template>
                                <SfTextBox Width="180px" Placeholder="RECHERCHE" ValueChanged="@(args => DefaultGrid.SearchAsync(args))"></SfTextBox>
                            </Template>
                        </ToolbarItem>
                        <ToolbarItem Align="ItemAlign.Right" Type="ItemType.Input">
                            <Template>
                                <SfDatePicker ShowClearButton ShowTodayButton TValue="DateTime ?" @bind-Value="@date1" Width="140px" Placeholder="Date Début" TValue="DateTime?">
                                    <DatePickerEvents TValue="DateTime ?" ValueChange="@(args => (LoadData()))"> </DatePickerEvents>
                                </SfDatePicker>
                            </Template>
                        </ToolbarItem>
                        <ToolbarItem Align="ItemAlign.Right" Type="ItemType.Input">
                            <Template>
                                <SfDatePicker ShowClearButton ShowTodayButton TValue="DateTime ?" @bind-Value="@date2" Width="140px" Placeholder="Date Fin" TValue="DateTime?">
                                    <DatePickerEvents TValue="DateTime ?" ValueChange="@(args => (LoadData()))"> </DatePickerEvents>
                                </SfDatePicker>
                            </Template>
                        </ToolbarItem>

                    </ToolbarItems>
                </SfToolbar>
                <div class="grid-84" style="zoom: @session.zoomLevel;">
                    <SfGrid Height="100%" AllowResizing AllowSelection AllowMultiSorting ShowColumnChooser="true"
                            ID="Grid" @ref="DefaultGrid" AllowPdfExport="true" AllowExcelExport="true" AllowPaging DataSource="@items">
                        <GridEditSettings ShowDeleteConfirmDialog="true" AllowAdding="true" AllowDeleting="true" AllowEditing="false" Mode="Syncfusion.Blazor.Grids.EditMode.Dialog" />
                        <GridEvents OnActionBegin="OnActionBegin" OnRecordDoubleClick="Edit" TValue="API_V_NOTEFRAISENTETE"></GridEvents>
                        <GridPageSettings PageSize="100"></GridPageSettings>
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                        <GridTemplates>
                            <EmptyRecordTemplate>
                                <Empty></Empty>
                            </EmptyRecordTemplate>
                        </GridTemplates>
                        <GridAggregates>
                            <GridAggregate>
                                <GridAggregateColumns>
                                    <GridAggregateColumn Field="@nameof(API_V_NOTEFRAISENTETE.Montant)" Type="AggregateType.Sum" Format="N2">
                                        <FooterTemplate>
                                            @{
                                                var SumValue = (context as AggregateTemplateContext);
                                                <div>
                                                    @SumValue.Sum
                                                </div>
                                            }
                                        </FooterTemplate>
                                    </GridAggregateColumn>
                                    <GridAggregateColumn Field="@nameof(API_V_NOTEFRAISENTETE.Numero)" Type="AggregateType.Count" Format="N0">
                                        <FooterTemplate>
                                            @{
                                                var SumValue = (context as AggregateTemplateContext);
                                                <div>
                                                    @SumValue.Count
                                                </div>
                                            }
                                        </FooterTemplate>
                                    </GridAggregateColumn>
                                </GridAggregateColumns>
                            </GridAggregate>
                        </GridAggregates>
                        <GridColumns>
                            <GridColumn Width="100" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_NOTEFRAISENTETE.Numero)" HeaderText="Numéro"></GridColumn>
                            <GridColumn Width="80" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_NOTEFRAISENTETE.Date)" HeaderText="Date" Format="dd/MM/yy"></GridColumn>

                            <GridColumn Width="100" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_NOTEFRAISENTETE.CT_Num)" HeaderText="Tiers"></GridColumn>
                            <GridColumn Width="180" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_NOTEFRAISENTETE.CT_Intitule)" HeaderText="Intitule Tiers"></GridColumn>
                            <GridColumn Width="100" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_NOTEFRAISENTETE.CA_Num)" HeaderText="Affaire"></GridColumn>
                            <GridColumn Width="180" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_NOTEFRAISENTETE.CA_Intitule)" HeaderText="Intitule Affaire"></GridColumn>
                            <GridColumn Width="160" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_NOTEFRAISENTETE.Nom)" HeaderText="Personnel"></GridColumn>
                            <GridColumn Width="160" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_NOTEFRAISENTETE.Intitule)" HeaderText="Matériel"></GridColumn>

                            <GridColumn Width="160" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_NOTEFRAISENTETE.CO_Nom)" HeaderText="Représentant"></GridColumn>
                            <GridColumn Width="200" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_NOTEFRAISENTETE.Libelle)" HeaderText="Libellé"></GridColumn>
                            <GridColumn Width="100" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_NOTEFRAISENTETE.Montant)" HeaderText="Montant" Format="N2" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"></GridColumn>
                            <GridColumn Visible="false" Width="100" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_NOTEFRAISENTETE.Valide)" HeaderText="Validé"></GridColumn>
                            <GridColumn Visible="false" Width="150" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_NOTEFRAISENTETE.ValideDate)" HeaderText="Date Validation" Format="dd/MM/yy"></GridColumn>
                            <GridColumn Visible="false" Width="150" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_NOTEFRAISENTETE.Creation)" HeaderText="Création" Format="dd/MM/yy HH:mm"></GridColumn>
                            <GridColumn Visible="false" Width="150" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_NOTEFRAISENTETE.Modification)" HeaderText="Modification" Format="dd/MM/yy HH:mm"></GridColumn>
                        </GridColumns>
                        <SfSpinner @bind-Visible="@loading">
                        </SfSpinner>
                    </SfGrid>
                </div>

            </div>
        </RadzenContent>
    </Card_1>
}
else
{
    <div class="center-screen">
        <Loading_1 />
    </div>
}




@code
{

    [CascadingParameter] public SessionDT session { get; set; } = new SessionDT();
    DB db = new DB();
    //Components
    private SfGrid<API_V_NOTEFRAISENTETE> DefaultGrid;
    bool IsLoaded = false;
    //End components

    private ICollection<API_V_NOTEFRAISENTETE> items;
    bool loading = false;
    DateTime? date1 = new DateTime(DateTime.Today.Year, 1, 1);
    DateTime? date2;
    public List<API_T_Personnel> personnels = new List<API_T_Personnel>();
    public List<API_T_Materiel> materiels = new List<API_T_Materiel>();
    public List<F_COMPTEA> affaires = new List<F_COMPTEA>();
    public List<F_COLLABORATEUR> collaborateurs = new List<F_COLLABORATEUR>();
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        db = session.db;
        GC.Collect();
        await LoadData();
        IsLoaded = true;
    }
    private async Task LoadData()
    {
        items = session.db.API_V_NOTEFRAISENTETE.AsNoTracking().OrderByDescending(a => a.Date).ToList();
        foreach(var item in items)
        {
            
        }
    }

    protected async Task Edit(RecordDoubleClickEventArgs<API_V_NOTEFRAISENTETE> args)
    {
        await DialogService.OpenAsync<NoteFraisFiche>(args.RowData.Numero,
    new Dictionary<string, object>() { { "id", args.RowData.id } },
    new Radzen.DialogOptions() { CloseDialogOnEsc = true, Width = "1000px", Height = "95%" });
        await LoadData();
    }
    private async Task Add()
    {
        await DialogService.OpenAsync<NoteFraisFiche>($"Ajouter un élément",
        new Dictionary<string, object>() { { "id", 0 } },
        new Radzen.DialogOptions() { CloseDialogOnEsc = true, Width = "1000px", Height = "95%" });
        await LoadData();
    }
    private async Task OnActionBegin(ActionEventArgs<API_V_NOTEFRAISENTETE> args)
    {
        if (args.RequestType == Syncfusion.Blazor.Grids.Action.Add
    || args.RequestType == Syncfusion.Blazor.Grids.Action.Print
    || args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
        {
            args.Cancel = true;
        }

        if (args.RequestType == Syncfusion.Blazor.Grids.Action.Add)
        {
            await Add();
        }
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            db.Database.ExecuteSqlRaw("DELETE FROM API_T_NoteFraisLigne WHERE Entete = {0}", args.Data.id);
            db.Database.ExecuteSqlRaw("DELETE FROM API_T_NoteFraisEntete WHERE id = {0}", args.Data.id);
            db.SaveChanges();
            await LoadData();
        }

    }




}