<AntDesign.Spin Size="large" Spinning=Refreshing Style="margin-top: 50px;">
    <div class="dg-parent">
        <div style="height: 80vh">
            <SfGrid Height="100%" AllowTextWrap EnableVirtualization AllowFiltering AllowResizing AllowSorting AllowReordering AllowSelection AllowMultiSorting ShowColumnChooser="true" AllowPdfExport="true" AllowExcelExport="true" AllowPaging="true" DataSource="@items"
                    Toolbar="@(new List<object>() { "ColumnChooser", "Search" })">

                <GridEvents TValue="API_V_ARTICLE"></GridEvents>
                <GridPageSettings PageSize="100"></GridPageSettings>
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                <GridTemplates>
                    <EmptyRecordTemplate>
                        <Empty></Empty>
                    </EmptyRecordTemplate>
                </GridTemplates>
                <GridColumns>
                    <GridColumn HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_ARTICLE.AR_Ref)" HeaderText="Référence" Width="100"></GridColumn>
                    <GridColumn HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_ARTICLE.AR_Design)" HeaderText="Désignation"></GridColumn>
                    <GridColumn HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" HeaderText="Famille" Field=@nameof(API_V_ARTICLE.FA_Intitule) Width="180"></GridColumn>
                    <GridColumn HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_ARTICLE.EtatStock)" HeaderText="Stock" Width="100"></GridColumn>
                    <GridColumn HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" HeaderText="Qté Stock" Field=@nameof(API_V_ARTICLE.AS_QteSto) Format="### ### ##0.00;-### ### ##0.00;#" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Width="90">
                    </GridColumn>
                    <GridColumn HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" HeaderText="Qté Sortie" Field=@nameof(API_V_ARTICLE.AR_QteOperatoire) Format="### ### ##0.00;-### ### ##0.00;#" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Width="100">
                        <Template>
                            @{
                                var dt = (context as API_V_ARTICLE);
                                <SfNumericTextBox @bind-Value=@dt.AR_QteOperatoire Min="0" ShowSpinButton="false" Format="### ### ##0.00;-### ### ##0.00;#" Decimals="2"></SfNumericTextBox>
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
                <SfSpinner @bind-Visible="@loading">
                </SfSpinner>
            </SfGrid>

        </div>
        <div class="btns-end">
            <SfButton IconCss="e-icons e-close" OnClick="Quitter">Annuler</SfButton>
            <SfButton IconCss="e-icons e-save" IsPrimary="true" OnClick="SubmitListe">Enregistrer</SfButton>
        </div>
    </div>
</AntDesign.Spin>








@code
{
    [CascadingParameter]
    public SessionDT session { get; set; } = new SessionDT();
    DB db = new DB();
    Helpers helpers = new Helpers();

    private IEnumerable<API_V_ARTICLE> items;
    List<API_V_ARTICLE> rows = new List<API_V_ARTICLE>();
    bool loading = true;
    [Parameter] public string DO_Piece { get; set; }
    [Parameter] public string DO_Ref { get; set; }
    bool Refreshing = false;
    protected override async Task OnInitializedAsync()
    {
        db = session.db;
        GC.Collect();
        await LoadData();
    }

    private async Task LoadData()
    {
        loading = true;
        await Task.Delay(1);
        items = db.API_V_ARTICLE.Where(a => a.AR_SuiviStock == 2 && a.AR_Sommeil == 0).ToList();
        foreach (var item in items)
        {
            item.AR_QteOperatoire = 0;
        };
        loading = false;
        await Task.Delay(1);
    }
    private async Task SubmitListe()
    {
        Refreshing = true;
        await Task.Delay(100);
        StateHasChanged();
        var sg = new SageService(db);
        var doc = db.F_DOCENTETE.FirstOrDefault(a => a.DO_Piece == DO_Piece && a.DO_Type == 21);
        var lignes = new List<DocumentLigne>();
        foreach (var item in items.Where(a => a.AR_QteOperatoire > 0))
        {
            var ligne = new DocumentLigne();
            ligne.RefArticle = item.AR_Ref;
            ligne.Qte = item.AR_QteOperatoire ?? 1;
            lignes.Add(ligne);
        }

        await sg.Document.CreateDocLignes(lignes,doc,3);
        foreach(var item in lignes)
        {
            sg.Document.UpdateStock(item.RefArticle,1);
        }
        DialogService.Close();
    }
    private async Task Quitter()
    {
        DialogService.Close();
    }


}


<style>
    .statustemp.e-activecolor {
        background-color: #ccffcc;
        text-align: center;
    }

    td.e-rowcell .statustxt.e-activecolor {
        color: #007d00;
        background-color: #ccffcc;
        border-radius: 10px;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
        text-align: center;
    }

    .statustemp.e-inactivecolor {
        background-color: #ffd7cc;
        text-align: center;
    }

    td.e-rowcell .statustxt.e-inactivecolor {
        color: #c40000;
        background-color: #ffd7cc;
        border-radius: 10px;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
        text-align: center;
    }
</style>