<div>
        <GridRow>
            <GridCol Xs="24" Md="24">
                <Form Model="@row" Size="@AntSizeLDSType.Small" Layout="@FormLayout.Horizontal" LabelColSpan="6" Context="FormContext">
                    <SfTab CssClass="e-fill" @bind-SelectedItem="selectedTabIndex">
                        <TabEvents Selecting="@OnTabSelecting" /><TabItems>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Identification"></TabHeader>
                                </ChildContent>
                                    <ContentTemplate>
                                       <GridRow>
                                    <GridCol Xs="24" Md="24">
                                        <Card>
                                           <FormItem LabelAlign="AntLabelAlignType.Left" Label="Designation" LabelColSpan="2">
                                                <SfTextBox @bind-Value="@row.AR_Design" Readonly/>
                                                </FormItem>
                                        </Card>
                                        </GridCol>
                                                <GridCol Xs="24" Md="8">
                                                <Card>
                                                    <FormItem LabelAlign="AntLabelAlignType.Left" Label="Référence">
                                                 <SfTextBox @bind-Value="@row.AR_Ref" Readonly />
                                                    </FormItem>
                                                        <FormItem LabelAlign="AntLabelAlignType.Left" Label="Famille">
                                                    <SfDropDownList TValue="string" TItem="F_FAMILLE" DataSource="@familles" @bind-Value="@row.FA_CodeFamille" Readonly>
                                                        <DropDownListEvents TValue="string" TItem="F_FAMILLE" />
                                                        <DropDownListFieldSettings Text="FA_Intitule" Value="FA_CodeFamille" />
                                                        </SfDropDownList>
                                                    </FormItem>
                                                    <FormItem LabelAlign="AntLabelAlignType.Left" Label="Unite">
                                                <SfDropDownList TValue="short?" TItem="P_UNITE" DataSource="@unites" @bind-Value="@row.AR_UniteVen" Readonly>
                                                            <DropDownListEvents TValue="short?" TItem="P_UNITE" />
                                                        <DropDownListFieldSettings Text="U_Intitule" Value="cbMarq" />
                                                        </SfDropDownList>

                                                    </FormItem>
                                                    </Card>
                                            </GridCol>
                                                <GridCol Xs="24" Md="8">
                                                <Card>
                                                        <FormItem LabelAlign="AntLabelAlignType.Left" Label="Prix d'achat">
                                                            <SfNumericTextBox @bind-Value="@row.AR_PrixAch" ShowSpinButton="false" Decimals="2" Format="N2" Readonly/>
                                                        </FormItem>
                                                        <FormItem LabelAlign="AntLabelAlignType.Left" Label="Prix de vente">
                                                            <SfNumericTextBox @bind-Value="@row.AR_PrixVen"  ShowSpinButton="false" Decimals="2" Format="N2" Readonly/>
                                                        </FormItem>
                                                        <FormItem LabelAlign="AntLabelAlignType.Left" Label="Cout standard">
                                                 <SfNumericTextBox @bind-Value="@row.AR_CoutStd" ShowSpinButton="false" Decimals="2" Format="N2" Readonly />
                                                        </FormItem>
                                                    </Card>

                                                </GridCol>
                                                <GridCol Xs="24" Md="8">
                                                    <Card>
                                                       <FormItem LabelAlign="AntLabelAlignType.Left" Label="Type">
                                                    <SfDropDownList TValue="short?" TItem="Items" DataSource="@types" @bind-Value="@row.AR_Type"  Readonly>
                                                            <DropDownListEvents TValue="short?" TItem="Items" />
                                                    <DropDownListFieldSettings Text="Name" Value="ShortId" />
                                                        </SfDropDownList>
                                                        </FormItem>
                                                        <FormItem LabelAlign="AntLabelAlignType.Left" Label="Nomenclature">

                                                <SfDropDownList TValue="short?" TItem="Items" DataSource="@nomencalures" @bind-Value="@row.AR_Nomencl" Readonly>
                                                            <DropDownListEvents TValue="short?" TItem="Items" />
                                                    <DropDownListFieldSettings Text="Name" Value="ShortId" />
                                                        </SfDropDownList>
                                                        </FormItem>
                                                <FormItem LabelAlign="AntLabelAlignType.Left" Label="Suivi de stock">

                                                <SfDropDownList TValue="short?" TItem="Items" DataSource="@suivistock" @bind-Value="@row.AR_SuiviStock" Readonly>
                                                           <DropDownListEvents TValue="short?" TItem="Items" />
                                                        <DropDownListFieldSettings Text="Name" Value="ShortId" />
                                                        </SfDropDownList>
                                                        </FormItem>
                                                    </Card>
                                                </GridCol>
                                                <Divider/>
                                     <GridCol Xs="24" Md="14">
                                         <Card title="CA PAR CLIENT">
                                            <div style="zoom: @session.zoomLevel" class="no-border small-grid grid-50">
                                                <SfGrid  AllowTextWrap Height="100%" DataSource="@(dt_article)" Toolbar="@(new List<object>() { "Print","ExcelExport","Search"})" AllowSorting>
                                                     <GridAggregates>
                                                         <GridAggregate>
                                                             <GridAggregateColumns>
                                                                <GridAggregateColumn Field="@nameof(API_V_MARGE.DL_Qte)" Type="AggregateType.Sum" Format="N2">
                                                                    <FooterTemplate>
                                                                        @{
                                                                            var SumValue = (context as AggregateTemplateContext);
                                                                            <div>
                                                                                @SumValue.Sum
                                                                            </div>
                                                                        }
                                                                    </FooterTemplate>

                                                                </GridAggregateColumn>
                                                                 <GridAggregateColumn Field="@nameof(API_V_MARGE.DL_MontantHT)" Type="AggregateType.Sum" Format="N2">
                                                                     <FooterTemplate>
                                                                         @{
                                                                                var SumValue = (context as AggregateTemplateContext);
                                                                                <div>
                                                                                    @SumValue.Sum
                                                                                </div>
                                                                            }
                                                                        </FooterTemplate>

                                                                    </GridAggregateColumn>
                                                                    <GridAggregateColumn Field="@nameof(API_V_MARGE.DL_MontantTTC)" Type="AggregateType.Sum" Format="N2">
                                                                        <FooterTemplate>
                                                                            @{
                                                                                var SumValue = (context as AggregateTemplateContext);
                                                                                <div>
                                                                                    @SumValue.Sum
                                                                                </div>
                                                                            }
                                                                        </FooterTemplate>

                                                                    </GridAggregateColumn>
                                                                    <GridAggregateColumn Field="@nameof(API_V_MARGE.CMUPCoutTotal)" Type="AggregateType.Sum" Format="N2">
                                                                        <FooterTemplate>
                                                                            @{
                                                                                var SumValue = (context as AggregateTemplateContext);
                                                                                <div>
                                                                                    @SumValue.Sum
                                                                                </div>
                                                                            }
                                                                        </FooterTemplate>

                                                                    </GridAggregateColumn>
                                                                    <GridAggregateColumn Field="@nameof(API_V_MARGE.CMUPMarge)" Type="AggregateType.Sum" Format="N2">
                                                                        <FooterTemplate>
                                                                            @{
                                                                                var SumValue = (context as AggregateTemplateContext);
                                                                                <div>
                                                                                    @SumValue.Sum
                                                                                </div>
                                                                            }
                                                                        </FooterTemplate>

                                                                    </GridAggregateColumn>
                                                                </GridAggregateColumns>
                                                            </GridAggregate>
                                                        </GridAggregates>
                                                    <GridPageSettings PageSize="100" />
                                                    <GridEvents OnRecordDoubleClick=@(args => ShowDetail(args, "client")) TValue="API_V_MARGE"></GridEvents>
                                                        <GridColumns>
                                                            <GridColumn Width="100" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_MARGE.CT_Num)" HeaderText="Numéro" />
                                                            <GridColumn Width="300" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_MARGE.CT_Intitule)" HeaderText="Intitulé" />
                                                        <GridColumn Width="80" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_MARGE.DL_Qte)" HeaderText="Qté" Format="N2" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" />
                                                            <GridColumn Width="80" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_MARGE.DL_MontantHT)" HeaderText="CA HT" Format="N2" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" />
                                                            <GridColumn Width="80" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_MARGE.DL_MontantTTC)" HeaderText="CA TTC" Format="N2" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" />
                                                            <GridColumn Width="80" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_MARGE.CMUPMarge)" HeaderText="Marge" Format="N2" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right">
                                                                <Template>
                                                                    @{
                                                                        var dt = (context as API_V_MARGE);
                                                                        if (dt.CMUPMarge > 0)
                                                                        {
                                                                            <div style="text-align: right;">
                                                                                <span class="statustxt e-activecolor">@dt.CMUPMarge?.ToString("N2")</span>
                                                                            </div>
                                                                        }
                                                                        if (dt.CMUPMarge < 0)
                                                                        {
                                                                            <div style="text-align: right;">
                                                                                <span class="statustxt e-inactivecolor">@dt.CMUPMarge?.ToString("N2")</span>
                                                                            </div>
                                                                        }
                                                                    }
                                                                </Template>
                                                            </GridColumn>
                                                            <GridColumn Width="80" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_MARGE.CMUPMargeP)" HeaderText="%" Format="P2" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right">
                                                                <Template>
                                                                    @{
                                                                        var dt = (context as API_V_MARGE);
                                                                        if (dt.CMUPMargeP > 0)
                                                                        {
                                                                            <div style="text-align: right;">
                                                                                <span class="statustxt e-activecolor">@dt.CMUPMargeP?.ToString("P2")<RadzenIcon Icon="arrow_upward" /></span>
                                                                            </div>
                                                                        }
                                                                        if (dt.CMUPMargeP < 0)
                                                                        {
                                                                            <div style="text-align: right;">
                                                                                <span class="statustxt e-inactivecolor">@dt.CMUPMargeP?.ToString("P2")<RadzenIcon Icon="arrow_downward" /></span>
                                                                            </div>
                                                                        }
                                                                    }
                                                                </Template>
                                                            </GridColumn>
                                                        </GridColumns>
                                                    </SfGrid>
                                                </div>
                                            </Card>
                                        </GridCol>
                                        <GridCol Xs="24" Md="10">
                                        <Card Title="CA PAR ANNEE">
                                            <div style="zoom: @session.zoomLevel;" class="no-border small-grid grid-50">
                                                <SfGrid GridLines="GridLine.Both" AllowTextWrap Height="100%" DataSource="@(dt_mois)" EnableHover="false">
                                                    <GridEvents TValue="API_V_MARGE"></GridEvents>
                                                    <GridAggregates>
                                                        <GridAggregate>
                                                            <GridAggregateColumns>
                                                                @foreach (string item in annees)
                                                                {
                                                                    <GridAggregateColumn Field="@(item+"_CA")" Type="AggregateType.Custom" Format="N2">
                                                                        <FooterTemplate>
                                                                            @{

                                                                                <div style="text-align: right; font-weight: 700;">

                                                                                    @items.Where(a => a.Annee == item).Sum(a => a.DL_MontantHT)?.ToString("### ### ##0.00;-### ### ##0.00;#")
                                                                                </div>
                                                                            }
                                                                        </FooterTemplate>

                                                                    </GridAggregateColumn>
                                                                    <GridAggregateColumn Field="@(item+"_Diff")" Type="AggregateType.Custom" Format="N2">
                                                                        <FooterTemplate>
                                                                            @{
                                                                                var currentValue = items.Where(a => a.Annee == item).Sum(a => a.DL_MontantHT);

                                                                                var previousYear = (int.Parse(item) - 1).ToString();
                                                                                var previousValue = items.Where(a => a.Annee == previousYear).Sum(a => a.DL_MontantHT);
                                                                                var differenceValue = currentValue - previousValue;
                                                                            }
                                                                            @if (@differenceValue > 0)
                                                                            {
                                                                                <div style="text-align: right;">
                                                                                    <span class="statustxt e-activecolor">+@differenceValue?.ToString("N2")</span>
                                                                                </div>
                                                                            }
                                                                            @if (@differenceValue < 0)
                                                                            {
                                                                                <div style="text-align: right;">
                                                                                    <span class="statustxt e-inactivecolor">@differenceValue?.ToString("N2")</span>
                                                                                </div>
                                                                            }
                                                                        </FooterTemplate>
                                                                    </GridAggregateColumn>
                                                                    <GridAggregateColumn Field="@(item+"_Per")" Type="AggregateType.Custom" Format="N2">
                                                                        <FooterTemplate>
                                                                            @{
                                                                                var currentValue = items.Where(a => a.Annee == item).Sum(a => a.DL_MontantHT);
                                                                                var previousYear = (int.Parse(item) - 1).ToString();
                                                                                var previousValue = items.Where(a => a.Annee == previousYear).Sum(a => a.DL_MontantHT);
                                                                                var differenceValue = currentValue - previousValue;
                                                                                var percentageDifference = previousValue != 0 ? (differenceValue / previousValue) : (currentValue != 0 ? 1 : 0);
                                                                            }
                                                                            @if (@percentageDifference > 0)
                                                                            {
                                                                                <div style="text-align: right;">
                                                                                    <span class="statustxt e-activecolor">+@percentageDifference?.ToString("P2")</span>
                                                                                </div>
                                                                            }
                                                                            @if (@percentageDifference < 0)
                                                                            {
                                                                                <div style="text-align: right;">
                                                                                    <span class="statustxt e-inactivecolor">@percentageDifference?.ToString("P2")</span>
                                                                                </div>
                                                                            }
                                                                        </FooterTemplate>
                                                                    </GridAggregateColumn>
                                                                }
                                                            </GridAggregateColumns>
                                                        </GridAggregate>
                                                    </GridAggregates>

                                                    <GridColumns>
                                                        <GridColumn MinWidth="70" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_MARGE.Mois)" HeaderText="Mois">
                                                            <Template>
                                                                @{
                                                                    var dt = (context as API_V_MARGE);
                                                                    <div style="text-align: left;">@fn.GetFrenchMonth(dt.Mois)</div>
                                                                }
                                                            </Template>
                                                        </GridColumn>
                                                        @foreach (string item in annees)
                                                        {

                                                            <GridColumn HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" HeaderText="@(item)">
                                                                <GridColumns>
                                                                    <GridColumn Field="@(item+"_CA")" HeaderText="CA" Width="90" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center">
                                                                        <Template>
                                                                            @{
                                                                                var dt = (context as API_V_MARGE);
                                                                                var currentValue = items.Where(a => a.Mois == dt.Mois && a.Annee == item).Sum(a => a.DL_MontantHT);
                                                                            }
                                                                            <div style="text-align: right;">
                                                                                @currentValue?.ToString("### ### ##0.00;-### ### ##0.00;#")
                                                                            </div>
                                                                        </Template>
                                                                    </GridColumn>
                                                                    <GridColumn Field="@(item+"_Diff")" HeaderText="Diff" Width="90" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center">
                                                                        <Template>
                                                                            @{
                                                                                var dt = (context as API_V_MARGE);
                                                                                var currentValue = items.Where(a => a.Mois == dt.Mois && a.Annee == item).Sum(a => a.DL_MontantHT);

                                                                                var previousYear = (int.Parse(item) - 1).ToString();
                                                                                var previousValue = items.Where(a => a.Mois == dt.Mois && a.Annee == previousYear).Sum(a => a.DL_MontantHT);
                                                                                var differenceValue = currentValue - previousValue;
                                                                            }
                                                                            @if (@differenceValue > 0)
                                                                            {
                                                                                <div style="text-align: right;">
                                                                                    <span class="statustxt e-activecolor">+@differenceValue?.ToString("N2")</span>
                                                                                </div>
                                                                            }
                                                                            @if (@differenceValue < 0)
                                                                            {
                                                                                <div style="text-align: right;">
                                                                                    <span class="statustxt e-inactivecolor">@differenceValue?.ToString("N2")</span>
                                                                                </div>
                                                                            }
                                                                        </Template>
                                                                    </GridColumn>
                                                                    <GridColumn Field="@(item+"_Per")" HeaderText="%" Width="90" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center">
                                                                        <Template>
                                                                            @{
                                                                                var dt = (context as API_V_MARGE);
                                                                                var currentValue = items.Where(a => a.Mois == dt.Mois && a.Annee == item).Sum(a => a.DL_MontantHT);

                                                                                var previousYear = (int.Parse(item) - 1).ToString();
                                                                                var previousValue = items.Where(a => a.Mois == dt.Mois && a.Annee == previousYear).Sum(a => a.DL_MontantHT);

                                                                                var differenceValue = currentValue - previousValue;
                                                                                var percentageDifference = previousValue != 0 ? (differenceValue / previousValue) : (currentValue != 0 ? 1 : 0);
                                                                            }

                                                                            @if (@percentageDifference > 0)
                                                                            {
                                                                                <div style="text-align: right;">
                                                                                    <span class="statustxt e-activecolor">+@percentageDifference?.ToString("P2")</span>
                                                                                </div>
                                                                            }
                                                                            @if (@percentageDifference < 0)
                                                                            {
                                                                                <div style="text-align: right;">
                                                                                    <span class="statustxt e-inactivecolor">@percentageDifference?.ToString("P2")</span>
                                                                                </div>
                                                                            }
                                                                        </Template>
                                                                    </GridColumn>
                                                                </GridColumns>

                                                            </GridColumn>
                                                        }

                                                    </GridColumns>

                                                </SfGrid>
                                            </div>
                                            </Card>
                                        </GridCol>
                                        </GridRow>
                                       </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Mouvement stock" />
                                </ChildContent>
                                <ContentTemplate>
                                    <GridRow>
                                        <GridCol Xs="24" Md="24">
                                            <Card>
                                                <SfToolbar CssClass="btns">
                                                    <ToolbarItems>
                                                        <ToolbarItem Align="ItemAlign.Left">
                                                            <Template>
                                                                <SfMessage Severity="MessageSeverity.Info" Variant="MessageVariant.Outlined">
                                                                    <div style="text-transform: uppercase;">
                                                                        @MvtMovementCount mouvement(s) | Solde initial @mvtQteInitial.ToString("### ### ##0.00;-### ### ##0.00;#") | @MvtSummaryLabel
                                                                    </div>
                                                                </SfMessage>
                                                            </Template>
                                                        </ToolbarItem>
                                                        <ToolbarItem Align="ItemAlign.Right" Type="ItemType.Input">
                                                            <Template>
                                                                <SfDatePicker Width="130px" TValue="DateTime?" @bind-Value="mvtDateDebut" Format="dd/MM/yyyy" Placeholder="Date début" ShowClearButton>
                                                                    <DatePickerEvents TValue="DateTime?" ValueChange="@(_ => LoadMouvementsStock())" />
                                                                </SfDatePicker>
                                                            </Template>
                                                        </ToolbarItem>
                                                        <ToolbarItem Align="ItemAlign.Right" Type="ItemType.Input">
                                                            <Template>
                                                                <SfDatePicker Width="130px" TValue="DateTime?" @bind-Value="mvtDateFin" Format="dd/MM/yyyy" Placeholder="Date fin" ShowClearButton>
                                                                    <DatePickerEvents TValue="DateTime?" ValueChange="@(_ => LoadMouvementsStock())" />
                                                                </SfDatePicker>
                                                            </Template>
                                                        </ToolbarItem>
                                                        <ToolbarItem Align="ItemAlign.Right" Type="ItemType.Input">
                                                            <Template>
                                                                <SfDropDownList ShowClearButton Width="200px" AllowFiltering FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                                                                                DataSource="@depots" TValue="int?" TItem="F_DEPOT" @bind-Value="mvtDepot" Placeholder="Dépôt">
                                                                    <DropDownListEvents TValue="int?" TItem="F_DEPOT" ValueChange="@(_ => LoadMouvementsStock())" />
                                                                    <DropDownListFieldSettings Text="DE_Intitule" Value="DE_No" />
                                                                </SfDropDownList>
                                                            </Template>
                                                        </ToolbarItem>
                                                        <ToolbarItem Align="ItemAlign.Right" Overflow="OverflowOption.Show" Type="ItemType.Input">
                                                            <Template>
                                                                <SfTextBox Width="180px" Placeholder="Recherche" CssClass="e-small"
                                                                           ValueChanged="@(args => mvtGrid?.SearchAsync(args ?? ""))" />
                                                            </Template>
                                                        </ToolbarItem>
                                                        <ToolbarItem OnClick="@(_ => LoadMouvementsStock())" TooltipText="Actualiser"
                                                                     ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Right" PrefixIcon="e-icons e-refresh" />
                                                        <ToolbarItem OnClick="@(_ => mvtGrid?.ExportToExcelAsync(fn.ExportToExcelAsync()))" TooltipText="Export Excel"
                                                                     ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Right" PrefixIcon="e-icons e-export-excel" />
                                                    </ToolbarItems>
                                                </SfToolbar>
                                                <div style="zoom: @session.zoomLevel;" class="no-border small-grid grid-78">
                                                    @if (mvtLoading)
                                                    {
                                                        <div class="center-screen" style="min-height: 200px;"><Loading_1 /></div>
                                                    }
                                                    else
                                                    {
                                                        <SfGrid @ref="mvtGrid" Height="100%" DataSource="@mvtLignes" EnableVirtualization
                                                                AllowFiltering AllowSorting="false" AllowGrouping AllowResizing AllowExcelExport AllowTextWrap>
                                                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel" />
                                                            <GridPageSettings PageSize="100" PageSizes="@(new string[] { "50", "100", "200", "500" })" />
                                                            <GridGroupSettings Columns="@(new string[] { nameof(ArticleMvtLigne.DE_Intitule) })" ShowDropArea="false" ShowToggleButton DisablePageWiseAggregates ExpandAllGroups="true">
                                                                <CaptionTemplate>
                                                                    @{
                                                                        var ag = (context as CaptionTemplateContext);
                                                                        var depotKey = ag?.Key?.ToString() ?? "";
                                                                        mvtDepotGroupTotals.TryGetValue(depotKey, out var totals);
                                                                    }
                                                                    <span class="fw-bold">@depotKey</span>
                                                                    @if (totals != null)
                                                                    {
                                                                        <span style="margin-left:12px;">Σ mvt @totals.SumMvt.ToString("### ### ##0.00;-### ### ##0.00;#")</span>
                                                                        <span style="margin-left:12px;">Qté @totals.FinalQte.ToString("### ### ##0.00;-### ### ##0.00;#")</span>
                                                                    }
                                                                </CaptionTemplate>
                                                            </GridGroupSettings>
                                                            <GridEvents TValue="ArticleMvtLigne" OnRecordDoubleClick="OnMvtDoubleClick" RowDataBound="OnMvtRowDataBound" DataBound="OnMvtGridDataBound" />
                                                            <GridAggregates>
                                                                <GridAggregate>
                                                                    <GridAggregateColumns>
                                                                        <GridAggregateColumn Field="@nameof(ArticleMvtLigne.Mvt)" Type="AggregateType.Sum" Format="### ### ##0.00;-### ### ##0.00;#">
                                                                            <FooterTemplate>
                                                                                @{ var s = (context as AggregateTemplateContext); }
                                                                                <div style="text-align:right;font-weight:600;">@s.Sum</div>
                                                                            </FooterTemplate>
                                                                        </GridAggregateColumn>
                                                                        <GridAggregateColumn Field="@nameof(ArticleMvtLigne.DL_MontantHT)" Type="AggregateType.Sum" Format="N2">
                                                                            <FooterTemplate>
                                                                                @{ var s = (context as AggregateTemplateContext); }
                                                                                <div style="text-align:right;font-weight:600;">@s.Sum</div>
                                                                            </FooterTemplate>
                                                                        </GridAggregateColumn>
                                                                    </GridAggregateColumns>
                                                                </GridAggregate>
                                                            </GridAggregates>
                                                            <GridColumns>
                                                                <GridColumn AllowSorting="false" Width="72" Field="@nameof(ArticleMvtLigne.DO_Date)" HeaderText="Date" Format="dd/MM/yy" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center">
                                                                    <Template>
                                                                        @{ var m = (context as ArticleMvtLigne); }
                                                                        @if (!m.IsSoldeInitial)
                                                                        {
                                                                            @(m.DO_Date?.ToString("dd/MM/yy"))
                                                                        }
                                                                    </Template>
                                                                </GridColumn>
                                                                <GridColumn AllowSorting="false" Width="72" Field="@nameof(ArticleMvtLigne.DL_DateBL)" HeaderText="Date BL" Format="dd/MM/yy" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                                                <GridColumn AllowSorting="false" Width="100" Field="@nameof(ArticleMvtLigne.DO_Piece)" HeaderText="Pièce" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center">
                                                                    <Template>
                                                                        @{ var m = (context as ArticleMvtLigne); }
                                                                        <span class="@(m.IsSoldeInitial ? "fw-bold" : null)">@m.DO_Piece</span>
                                                                    </Template>
                                                                </GridColumn>
                                                                <GridColumn AllowSorting="false" Width="90" Field="@nameof(ArticleMvtLigne.DL_PieceBL)" HeaderText="Pièce BL" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                                                <GridColumn AllowSorting="false" Width="72" Field="@nameof(ArticleMvtLigne.TypeIntitule)" HeaderText="Type doc." HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                                                <GridColumn AllowSorting="false" Width="56" Field="@nameof(ArticleMvtLigne.Sense)" HeaderText="Sens" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center">
                                                                    <Template>
                                                                        @{ var m = (context as ArticleMvtLigne); }
                                                                        @if (!m.IsSoldeInitial && !string.IsNullOrEmpty(m.Sense))
                                                                        {
                                                                            <span class="statustxt @(m.Mvt >= 0 ? "e-activecolor" : "e-inactivecolor")">@m.Sense</span>
                                                                        }
                                                                    </Template>
                                                                </GridColumn>
                                                                <GridColumn AllowSorting="false" Width="140" Field="@nameof(ArticleMvtLigne.DE_Intitule)" HeaderText="Dépôt" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                                                <GridColumn AllowSorting="false" Width="72" Field="@nameof(ArticleMvtLigne.CT_Num)" HeaderText="N° tiers" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                                                <GridColumn AllowSorting="false" Width="180" Field="@nameof(ArticleMvtLigne.TiersIntitule)" HeaderText="Tiers" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                                                <GridColumn AllowSorting="false" Width="80" Field="@nameof(ArticleMvtLigne.Mvt)" HeaderText="Qté mvt" Format="### ### ##0.00;-### ### ##0.00;#" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                                                <GridColumn AllowSorting="false" Width="80" Field="@nameof(ArticleMvtLigne.Qte)" HeaderText="Qté" Format="### ### ##0.00;-### ### ##0.00;#" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center">
                                                                    <Template>
                                                                        @{ var m = (context as ArticleMvtLigne); }
                                                                        <span class="@(m.IsSoldeInitial ? "fw-bold" : null)" style="@(m.Qte < 0 ? "color:#c0392b;" : null)">@m.Qte.ToString("### ### ##0.00;-### ### ##0.00;#")</span>
                                                                    </Template>
                                                                </GridColumn>
                                                                <GridColumn AllowSorting="false" Width="72" Field="@nameof(ArticleMvtLigne.DL_Qte)" HeaderText="Qté lig." Format="### ### ##0.00;-### ### ##0.00;#" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                                                <GridColumn AllowSorting="false" Width="56" Field="@nameof(ArticleMvtLigne.U_Intitule)" HeaderText="Unité" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                                                <GridColumn AllowSorting="false" Width="80" Field="@nameof(ArticleMvtLigne.DL_MontantHT)" HeaderText="Montant HT" Format="### ### ##0.00;-### ### ##0.00;#" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                                                <GridColumn AllowSorting="false" Width="80" Field="@nameof(ArticleMvtLigne.DL_MontantTTC)" HeaderText="Montant TTC" Format="### ### ##0.00;-### ### ##0.00;#" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                                                <GridColumn AllowSorting="false" Width="72" Field="@nameof(ArticleMvtLigne.PuHt)" HeaderText="PU.HT" Format="### ### ##0.00;-### ### ##0.00;#" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                                                <GridColumn AllowSorting="false" Width="72" Field="@nameof(ArticleMvtLigne.PuTtc)" HeaderText="PU.TTC" Format="### ### ##0.00;-### ### ##0.00;#" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                                            </GridColumns>
                                                        </SfGrid>
                                                    }
                                                </div>
                                            </Card>
                                        </GridCol>
                                    </GridRow>
                                </ContentTemplate>
                            </TabItem>
                        </TabItems>
                    </SfTab>
                </Form>

            </GridCol>

        </GridRow>
    </div>




@code {
    [CascadingParameter] 
    public SessionDT session { get; set; }
    DB db = new DB();

    [Parameter] 
    public int cbMarq { get; set; }
    private API_V_ARTICLE row { get; set; } = new API_V_ARTICLE();
    IEnumerable<P_UNITE> unites;
    List<F_ARTCLIENT> tarifs_clients = new List<F_ARTCLIENT>();
    List<F_ARTFOURNISS> tarifs_fournisseurs = new List<F_ARTFOURNISS>();
    List<F_ARTCLIENT> tarifs = new List<F_ARTCLIENT>();
    List<Items> suivistock = new List<Items>();
    List<Items> types = new List<Items>();
    List<Items> nomencalures = new List<Items>();
    IEnumerable<F_FAMILLE> familles;
    IEnumerable<F_DOCLIGNE> achats;
    IEnumerable<F_DOCLIGNE> ventes;
    Helpers helpers = new Helpers();
    DateTime? date1;
    DateTime? date2;
    bool IsLoaded = false;

    private const int MouvementStockTabIndex = 1;
    private int selectedTabIndex;
    private SfGrid<ArticleMvtLigne> mvtGrid;
    private List<ArticleMvtLigne> mvtLignes = new();
    private Dictionary<string, MvtDepotGroupTotal> mvtDepotGroupTotals = new(StringComparer.OrdinalIgnoreCase);
    private decimal mvtQteInitial;
    private List<F_DEPOT> depots = new();
    private DateTime? mvtDateDebut;
    private DateTime? mvtDateFin;
    private int? mvtDepot;
    private bool mvtLoading;
    private bool mvtLoaded;

    private int MvtMovementCount => mvtLignes.Count(x => !x.IsSoldeInitial);

    private string MvtSummaryLabel => mvtDateDebut.HasValue || mvtDateFin.HasValue || mvtDepot.HasValue
        ? $"{(mvtDateDebut.HasValue ? mvtDateDebut.Value.ToString("dd/MM/yyyy") : "…")} — {(mvtDateFin.HasValue ? mvtDateFin.Value.ToString("dd/MM/yyyy") : "…")}"
          + (mvtDepot.HasValue ? $" | {depots.FirstOrDefault(d => d.DE_No == mvtDepot)?.DE_Intitule ?? "Dépôt"}" : "")
        : "Toutes dates";
    private List<API_V_MARGE> items = new List<API_V_MARGE>();
    private List<API_V_MARGE> dt_mois = new List<API_V_MARGE>();
    private List<API_V_MARGE> dt_article = new List<API_V_MARGE>();
    private List<API_V_MARGE> dt_annee = new List<API_V_MARGE>();
    private List<string> annees = new List<string>();
    private async Task LoadData()
    {
        unites = db.P_UNITE.Where(a => (a.U_Intitule ?? "") != "").ToList();
        familles = db.F_FAMILLE.ToList();

        suivistock.Add(new Items { ShortId = 0, Name = "AUCUN" });
        suivistock.Add(new Items { ShortId = 1, Name = "SERIE" });
        suivistock.Add(new Items { ShortId = 2, Name = "CMUP" });
        suivistock.Add(new Items { ShortId = 3, Name = "FIFO" });
        suivistock.Add(new Items { ShortId = 4, Name = "LIFO" });
        suivistock.Add(new Items { ShortId = 5, Name = "LOT" });

        types.Add(new Items { ShortId = 0, Name = "STANDARD" });
        types.Add(new Items { ShortId = 1, Name = "GAMME" });
        types.Add(new Items { ShortId = 2, Name = "RESSOURCE UNITAIRE" });
        types.Add(new Items { ShortId = 3, Name = "RESSOURCE MULTIPLE" });

        nomencalures.Add(new Items { ShortId = 0, Name = "AUCUNE" });
        nomencalures.Add(new Items { ShortId = 1, Name = "FABRICATION" });
        nomencalures.Add(new Items { ShortId = 2, Name = "COMPOSE" });
        nomencalures.Add(new Items { ShortId = 3, Name = "COMPOSANT" });
        nomencalures.Add(new Items { ShortId = 4, Name = "ARTICLE LIE" });
        items = db.API_V_MARGE.Where(a => ((date1 != null && a.DO_Date >= date1) || date1 == null) && ((date2 != null && a.DO_Date <= date2) || date2 == null) && a.AR_Ref == row.AR_Ref).ToList();
        annees = items.OrderBy(a => a.Annee).Select(a => a.Annee).Distinct().ToList();
        dt_mois = items.Where(a => ((date1 != null && a.DO_Date >= date1) || date1 == null) && ((date2 != null && a.DO_Date <= date2) || date2 == null) && a.AR_Ref == row.AR_Ref).GroupBy(a => new { a.Mois })
     .Select(a => new API_V_MARGE
         {
             Mois = a.Key.Mois,
             DL_Qte = a.Sum(a => a.DL_Qte),
             DL_MontantHT = a.Sum(a => a.DL_MontantHT),
             DL_MontantTTC = a.Sum(a => a.DL_MontantTTC),
             CMUPCoutTotal = a.Sum(a => a.CMUPCoutTotal),
             CMUPMarge = a.Sum(a => a.CMUPMarge),
             CMUPMargeP = a.Sum(a => a.DL_MontantHT) != 0.0m ? a.Sum(a => a.CMUPMarge) / a.Sum(a => a.DL_MontantHT) : 0.0m
         }).OrderBy(a => a.Mois).Take(12).ToList();

        dt_annee = items.Where(a => ((date1 != null && a.DO_Date >= date1) || date1 == null) && ((date2 != null && a.DO_Date <= date2) || date2 == null) && a.AR_Ref == row.AR_Ref).GroupBy(a => new { a.Annee })
            .Select(a => new API_V_MARGE
            {
                    Annee = a.Key.Annee,
                DL_Qte = a.Sum(a => a.DL_Qte),
                DL_MontantHT = a.Sum(a => a.DL_MontantHT),
                DL_MontantTTC = a.Sum(a => a.DL_MontantTTC),
                CMUPCoutTotal = a.Sum(a => a.CMUPCoutTotal),
                CMUPMarge = a.Sum(a => a.CMUPMarge),
                CMUPMargeP = a.Sum(a => a.DL_MontantHT) != 0.0m ? a.Sum(a => a.CMUPMarge) / a.Sum(a => a.DL_MontantHT) : 0.0m
                }).OrderByDescending(a => a.Annee).Take(12).ToList();

        dt_article = items.Where(a => ((date1 != null && a.DO_Date >= date1) || date1 == null) && ((date2 != null && a.DO_Date <= date2) || date2 == null) && a.AR_Ref == row.AR_Ref).GroupBy(a => new { a.CT_Intitule, a.CT_Num })
       .Select(a => new API_V_MARGE
           {
               CT_Num = a.Key.CT_Num,
               CT_Intitule = a.Key.CT_Intitule,
               DL_Qte = a.Sum(a => a.DL_Qte),
               DL_MontantHT = a.Sum(a => a.DL_MontantHT),
               DL_MontantTTC = a.Sum(a => a.DL_MontantTTC),
               CMUPCoutTotal = a.Sum(a => a.CMUPCoutTotal),
               CMUPMarge = a.Sum(a => a.CMUPMarge),
               CMUPMargeP = a.Sum(a => a.DL_MontantHT) != 0.0m ? a.Sum(a => a.CMUPMarge) / a.Sum(a => a.DL_MontantHT) : 0.0m
           }).OrderByDescending(a => a.DL_MontantTTC).ToList();
    }


    private void OnTabSelecting(SelectingEventArgs args)
    {
        fn.DisableTabSelect(args);
        if (args.Cancel) return;
        if (args.SelectingIndex == MouvementStockTabIndex && !mvtLoaded)
            _ = LoadMouvementsStock();
    }

    private static DateTime MvtEffectiveDate(API_V_ARTICLEMVT a) =>
        a.DL_DateBL ?? a.DO_Date ?? DateTime.MinValue;

    private string MvtDepotLabel =>
        mvtDepot.HasValue
            ? depots.FirstOrDefault(d => d.DE_No == mvtDepot.Value)?.DE_Intitule ?? "Dépôt"
            : "Tous dépôts";

    private sealed class MvtDepotGroupTotal
    {
        public decimal SumMvt { get; set; }
        public decimal FinalQte { get; set; }
    }

    private async Task LoadMouvementsStock()
    {
        if (string.IsNullOrWhiteSpace(row?.AR_Ref))
        {
            mvtLignes = new();
            mvtDepotGroupTotals = new(StringComparer.OrdinalIgnoreCase);
            mvtQteInitial = 0m;
            mvtLoaded = true;
            return;
        }

        mvtLoading = true;
        await InvokeAsync(StateHasChanged);

        try
        {
            var depotLabel = MvtDepotLabel;
            await Task.Run(() =>
            {
                var arRef = row.AR_Ref;
                IQueryable<API_V_ARTICLEMVT> BaseQuery()
                {
                    var q = db.API_V_ARTICLEMVT.AsNoTracking().Where(a => a.AR_Ref == arRef);
                    if (mvtDepot.HasValue)
                        q = q.Where(a => a.DE_No == mvtDepot.Value);
                    return q;
                }

                var runningByDepot = new Dictionary<string, decimal>(StringComparer.OrdinalIgnoreCase);
                mvtQteInitial = 0m;
                if (mvtDateDebut.HasValue)
                {
                    var debut = mvtDateDebut.Value.Date;
                    foreach (var g in BaseQuery().AsEnumerable().Where(a => MvtEffectiveDate(a) < debut).GroupBy(a => a.DE_Intitule ?? ""))
                    {
                        runningByDepot[g.Key] = g.Sum(a => a.Mvt ?? 0m);
                        mvtQteInitial += runningByDepot[g.Key];
                    }
                }

                var periodQuery = BaseQuery().AsEnumerable();
                if (mvtDateDebut.HasValue)
                    periodQuery = periodQuery.Where(a => MvtEffectiveDate(a) >= mvtDateDebut.Value.Date);
                if (mvtDateFin.HasValue)
                {
                    var fin = mvtDateFin.Value.Date.AddDays(1).AddTicks(-1);
                    periodQuery = periodQuery.Where(a => MvtEffectiveDate(a) <= fin);
                }

                var chronologique = periodQuery
                    .OrderBy(MvtEffectiveDate)
                    .ThenBy(a => a.DO_Piece)
                    .ToList();

                var lignes = new List<ArticleMvtLigne>
                {
                    new()
                    {
                        IsSoldeInitial = true,
                        Qte = mvtQteInitial,
                        DE_Intitule = depotLabel,
                        DO_Piece = $"Solde initial — {depotLabel}"
                    }
                };

                var sumMvtByDepot = new Dictionary<string, decimal>(StringComparer.OrdinalIgnoreCase);
                foreach (var m in chronologique)
                {
                    var depot = m.DE_Intitule ?? "";
                    if (!runningByDepot.ContainsKey(depot))
                        runningByDepot[depot] = 0m;
                    var mvt = m.Mvt ?? 0m;
                    runningByDepot[depot] += mvt;
                    sumMvtByDepot[depot] = sumMvtByDepot.GetValueOrDefault(depot) + mvt;
                    lignes.Add(ArticleMvtLigne.From(m, runningByDepot[depot]));
                }

                mvtDepotGroupTotals = runningByDepot
                    .ToDictionary(
                        kv => kv.Key,
                        kv => new MvtDepotGroupTotal
                        {
                            SumMvt = sumMvtByDepot.GetValueOrDefault(kv.Key),
                            FinalQte = kv.Value
                        },
                        StringComparer.OrdinalIgnoreCase);

                mvtLignes = lignes;
            });
            mvtLoaded = true;
        }
        finally
        {
            mvtLoading = false;
            await InvokeAsync(StateHasChanged);
            if (mvtGrid != null && mvtLignes.Count > 0)
                await mvtGrid.ExpandAllGroupAsync();
        }
    }

    private async Task OnMvtGridDataBound(object _)
    {
        if (mvtGrid == null || mvtLignes.Count == 0)
            return;
        await mvtGrid.ExpandAllGroupAsync();
    }

    private void OnMvtRowDataBound(RowDataBoundEventArgs<ArticleMvtLigne> args)
    {
        if (args.Data?.IsSoldeInitial == true)
            args.Row.AddClass(new[] { "cpt-solde-initial-row" });
    }

    private async Task OnMvtDoubleClick(RecordDoubleClickEventArgs<ArticleMvtLigne> args)
    {
        if (args?.RowData == null || args.RowData.IsSoldeInitial || string.IsNullOrWhiteSpace(args.RowData.DO_Piece))
            return;
        await ShowPiece(args.RowData.DO_Piece, args.RowData.DO_Type);
    }

    protected override async Task OnInitializedAsync()
    {
        db = session.db;
        GC.Collect();
        row = db.API_V_ARTICLE.Where(a => a.cbMarq == cbMarq).SingleOrDefault();
        mvtDateDebut = new DateTime(DateTime.Today.Year, 1, 1);
        mvtDateFin = DateTime.Today;
        depots = db.F_DEPOT.OrderBy(d => d.DE_Intitule).ToList();
        await LoadData();
    }
    protected async Task ShowPiece(string DO_Piece, short? DO_Type)
    {
        await DialogService.OpenAsync<DetailsPiece>(DO_Piece,
        new Dictionary<string, object>() { { "DO_Piece", DO_Piece }, { "DO_Type", DO_Type } },
        new Radzen.DialogOptions() { CloseDialogOnEsc = true, Width = "90%", Height = "90%" });
    }
    protected async Task ShowDetail(RecordDoubleClickEventArgs<API_V_MARGE> args, string type)
    {
        if (type == "client")
        {
            await DialogService.OpenAsync<DetailsMarge>(args.RowData.CT_Intitule,
      new Dictionary<string, object>() { { "Date1", date1 }, { "Date2", date2 }, { "CT_Num", args.RowData.CT_Num }, { "AR_Ref", row.AR_Ref }, { "ClassHeight", "grid-84" } },
      new Radzen.DialogOptions() { CloseDialogOnEsc = true, Width = "98%", Height = "95%" });
        }
        if (type == "mois")
        {
            await DialogService.OpenAsync<DetailsMarge>(args.RowData.MoisAnnee,
      new Dictionary<string, object>() { { "Date1", date1 }, { "Date2", date2 }, { "MoisAnnee", args.RowData.MoisAnnee }, { "AR_Ref", row.AR_Ref }, { "ClassHeight", "grid-84" } },
      new Radzen.DialogOptions() { CloseDialogOnEsc = true, Width = "98%", Height = "95%" });
        }

    }
}

<style>
    .e-grid .e-row.cpt-solde-initial-row .e-rowcell {
        font-weight: 600;
        background: #f4f6fa;
    }
</style>