@page "/et-vente-annuel"
@attribute [Authorize]

@if (IsLoaded)
{
    <Card_1 Title="VENTES PAR ANNEE">

        <RadzenContent>
            <div class="grid-container no-border">
                <SfToolbar CssClass="btns">
                    <ToolbarItems>
                        <ToolbarItem Align="ItemAlign.Right" Type="ItemType.Input">
                            <Template>
                                <SfDatePicker Width="140px" TValue="DateTime ?" @bind-Value="date1" Placeholder="Date Début" ShowClearButton ShowTodayButton>
                                    <DatePickerEvents TValue="DateTime ?" ValueChange="@(args => LoadData())"> </DatePickerEvents>
                                </SfDatePicker>
                            </Template>
                        </ToolbarItem>
                        <ToolbarItem Align="ItemAlign.Right" Type="ItemType.Input">
                            <Template>
                                <SfDatePicker Width="140px" TValue="DateTime ?" @bind-Value="date2" Placeholder="Date Fin" ShowClearButton ShowTodayButton>
                                    <DatePickerEvents TValue="DateTime ?" ValueChange="@(args => LoadData())"> </DatePickerEvents>
                                </SfDatePicker>
                            </Template>
                        </ToolbarItem>
                    </ToolbarItems>
                </SfToolbar>
                <SfTab CssClass="e-fill">
                    <TabEvents Selecting="@(args => fn.DisableTabSelect(args))" />
                    <TabItems>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Region"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div style="height: 72vh;">
                                    <SfToolbar CssClass="btns">
                                        <ToolbarItems>
                                            <ToolbarItem OnClick=@(async args => await RGGrid.ExportToPdfAsync()) TooltipText="Export PDF" Text="Export PDF" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Right" PrefixIcon="e-icons e-export-pdf"></ToolbarItem>
                                            <ToolbarItem OnClick=@(async args => await RGGrid.ExportToExcelAsync(fn.ExportToExcelAsync())) TooltipText="Export Excel" Text="Export Excel" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Right" PrefixIcon="e-icons e-export-excel"></ToolbarItem>
                                        </ToolbarItems>
                                    </SfToolbar>
                                    <SfGrid @ref="RGGrid" TValue="ExpandoObject" DataSource="@clientGridRows" Width="100%" Height="100%" AllowResizing AllowSorting AllowFiltering AllowGrouping AllowReordering AllowSelection AllowMultiSorting AllowPdfExport AllowExcelExport EnableVirtualization>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                                        <GridGroupSettings Columns="@(new string[] { nameof(AnnualSalesGridRow.Region) })" ShowDropArea="false" ShowToggleButton DisablePageWiseAggregates>
                                            <CaptionTemplate>
                                                @{
                                                    var group = (context as CaptionTemplateContext);
                                                    <div style="margin-left: 5px;">@group.Key</div>
                                                }
                                            </CaptionTemplate>
                                        </GridGroupSettings>
                                        <GridAggregates>
                                            <GridAggregate>
                                                <GridAggregateColumns>
                                                    @foreach (var year in yearColumns)
                                                    {
                                                        <GridAggregateColumn Field="@year.AmountField" Type="AggregateType.Sum" Format="### ### ##0.00;-### ### ##0.00;#">
                                                            <FooterTemplate>
                                                                <div style="text-align:right; font-weight:600;">@FormatAggregate(context)</div>
                                                            </FooterTemplate>
                                                            <GroupCaptionTemplate>
                                                                <span style="font-weight:600;">@FormatAggregate(context)</span>
                                                            </GroupCaptionTemplate>
                                                        </GridAggregateColumn>
                                                    }
                                                    <GridAggregateColumn Field="@nameof(AnnualSalesGridRow.TotalMontant)" Type="AggregateType.Sum" Format="### ### ##0.00;-### ### ##0.00;#">
                                                        <FooterTemplate>
                                                            <div style="text-align:right; font-weight:600;">@FormatAggregate(context)</div>
                                                        </FooterTemplate>
                                                        <GroupCaptionTemplate>
                                                            <span style="font-weight:600;">@FormatAggregate(context)</span>
                                                        </GroupCaptionTemplate>
                                                    </GridAggregateColumn>
                                                </GridAggregateColumns>
                                            </GridAggregate>
                                        </GridAggregates>
                                        <GridColumns>
                                            <GridColumn Field="@nameof(AnnualSalesGridRow.Region)" HeaderText="Region" Width="120" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                            <GridColumn Field="@nameof(AnnualSalesGridRow.Tiers)" HeaderText="Client" Width="260" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                            <GridColumn Field="@nameof(AnnualSalesGridRow.Article)" HeaderText="Article" Width="350" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                            @foreach (var year in yearColumns)
                                            {
                                                <GridColumn Field="@year.AmountField" HeaderText="@year.Caption" Width="110" Format="### ### ##0.00;-### ### ##0.00;#" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                            }
                                            <GridColumn Field="@nameof(AnnualSalesGridRow.TotalMontant)" HeaderText="Total" Width="120" Format="### ### ##0.00;-### ### ##0.00;#" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                        </GridColumns>
                                    </SfGrid>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Clients"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div style="height: 72vh;">
                                    <SfToolbar CssClass="btns">
                                        <ToolbarItems>
                                            <ToolbarItem OnClick=@(async args => await FRGrid.ExportToPdfAsync()) TooltipText="Export PDF" Text="Export PDF" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Right" PrefixIcon="e-icons e-export-pdf"></ToolbarItem>
                                            <ToolbarItem OnClick=@(async args => await FRGrid.ExportToExcelAsync(fn.ExportToExcelAsync())) TooltipText="Export Excel" Text="Export Excel" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Right" PrefixIcon="e-icons e-export-excel"></ToolbarItem>
                                        </ToolbarItems>
                                    </SfToolbar>
                                    <SfGrid @ref="FRGrid" TValue="ExpandoObject" DataSource="@clientGridRows" Width="100%" Height="100%" AllowResizing AllowSorting AllowFiltering AllowGrouping AllowReordering AllowSelection AllowMultiSorting AllowPdfExport AllowExcelExport EnableVirtualization>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                                        <GridGroupSettings Columns="@(new string[] { nameof(AnnualSalesGridRow.Tiers) })" ShowDropArea="false" ShowToggleButton DisablePageWiseAggregates>
                                            <CaptionTemplate>
                                                @{
                                                    var group = (context as CaptionTemplateContext);
                                                    <div style="margin-left: 5px;">@group.Key</div>
                                                }
                                            </CaptionTemplate>
                                        </GridGroupSettings>
                                        <GridAggregates>
                                            <GridAggregate>
                                                <GridAggregateColumns>
                                                    @foreach (var year in yearColumns)
                                                    {
                                                        <GridAggregateColumn Field="@year.AmountField" Type="AggregateType.Sum" Format="### ### ##0.00;-### ### ##0.00;#">
                                                            <FooterTemplate>
                                                                <div style="text-align:right; font-weight:600;">@FormatAggregate(context)</div>
                                                            </FooterTemplate>
                                                            <GroupCaptionTemplate>
                                                                <span style="font-weight:600;">@FormatAggregate(context)</span>
                                                            </GroupCaptionTemplate>
                                                        </GridAggregateColumn>
                                                    }
                                                    <GridAggregateColumn Field="@nameof(AnnualSalesGridRow.TotalMontant)" Type="AggregateType.Sum" Format="### ### ##0.00;-### ### ##0.00;#">
                                                        <FooterTemplate>
                                                            <div style="text-align:right; font-weight:600;">@FormatAggregate(context)</div>
                                                        </FooterTemplate>
                                                        <GroupCaptionTemplate>
                                                            <span style="font-weight:600;">@FormatAggregate(context)</span>
                                                        </GroupCaptionTemplate>
                                                    </GridAggregateColumn>
                                                </GridAggregateColumns>
                                            </GridAggregate>
                                        </GridAggregates>
                                        <GridColumns>
                                            <GridColumn Field="@nameof(AnnualSalesGridRow.Region)" HeaderText="Region" Width="120" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                            <GridColumn Field="@nameof(AnnualSalesGridRow.Tiers)" HeaderText="Client" Width="260" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                            <GridColumn Field="@nameof(AnnualSalesGridRow.Article)" HeaderText="Article" Width="350" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                            @foreach (var year in yearColumns)
                                            {
                                                <GridColumn Field="@year.AmountField" HeaderText="@year.Caption" Width="110" Format="### ### ##0.00;-### ### ##0.00;#" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                            }
                                            <GridColumn Field="@nameof(AnnualSalesGridRow.TotalMontant)" HeaderText="Total" Width="120" Format="### ### ##0.00;-### ### ##0.00;#" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                        </GridColumns>
                                    </SfGrid>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Articles"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div style="height: 72vh; width: 100%;">
                                    <SfToolbar CssClass="btns">
                                        <ToolbarItems>
                                            <ToolbarItem OnClick=@(async args => await ARGrid.ExportToPdfAsync()) TooltipText="Export PDF" Text="Export PDF" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Right" PrefixIcon="e-icons e-export-pdf"></ToolbarItem>
                                            <ToolbarItem OnClick=@(async args => await ARGrid.ExportToExcelAsync(fn.ExportToExcelAsync())) TooltipText="Export Excel" Text="Export Excel" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Right" PrefixIcon="e-icons e-export-excel"></ToolbarItem>
                                        </ToolbarItems>
                                    </SfToolbar>
                                    <SfGrid @ref="ARGrid" TValue="ExpandoObject" DataSource="@articleGridRows" Width="100%" Height="100%" AllowResizing AllowSorting AllowFiltering AllowGrouping AllowReordering AllowSelection AllowMultiSorting AllowPdfExport AllowExcelExport EnableVirtualization>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                                        <GridGroupSettings Columns="@(new string[] { nameof(AnnualSalesGridRow.Article) })" ShowDropArea="false" ShowToggleButton DisablePageWiseAggregates>
                                            <CaptionTemplate>
                                                @{
                                                    var group = (context as CaptionTemplateContext);
                                                    <div style="margin-left: 5px;">@group.Key</div>
                                                }
                                            </CaptionTemplate>
                                        </GridGroupSettings>
                                        <GridAggregates>
                                            <GridAggregate>
                                                <GridAggregateColumns>
                                                    @foreach (var year in yearColumns)
                                                    {
                                                        <GridAggregateColumn Field="@year.QuantityField" Type="AggregateType.Sum" Format="### ### ##0.00;-### ### ##0.00;#">
                                                            <FooterTemplate>
                                                                <div style="text-align:right; font-weight:600;">@FormatAggregate(context)</div>
                                                            </FooterTemplate>
                                                            <GroupCaptionTemplate>
                                                                <span style="font-weight:600;">@FormatAggregate(context)</span>
                                                            </GroupCaptionTemplate>
                                                        </GridAggregateColumn>
                                                        <GridAggregateColumn Field="@year.AmountField" Type="AggregateType.Sum" Format="### ### ##0.00;-### ### ##0.00;#">
                                                            <FooterTemplate>
                                                                <div style="text-align:right; font-weight:600;">@FormatAggregate(context)</div>
                                                            </FooterTemplate>
                                                            <GroupCaptionTemplate>
                                                                <span style="font-weight:600;">@FormatAggregate(context)</span>
                                                            </GroupCaptionTemplate>
                                                        </GridAggregateColumn>
                                                    }
                                                    <GridAggregateColumn Field="@nameof(AnnualSalesGridRow.TotalQte)" Type="AggregateType.Sum" Format="### ### ##0.00;-### ### ##0.00;#">
                                                        <FooterTemplate>
                                                            <div style="text-align:right; font-weight:600;">@FormatAggregate(context)</div>
                                                        </FooterTemplate>
                                                        <GroupCaptionTemplate>
                                                            <span style="font-weight:600;">@FormatAggregate(context)</span>
                                                        </GroupCaptionTemplate>
                                                    </GridAggregateColumn>
                                                    <GridAggregateColumn Field="@nameof(AnnualSalesGridRow.TotalMontant)" Type="AggregateType.Sum" Format="### ### ##0.00;-### ### ##0.00;#">
                                                        <FooterTemplate>
                                                            <div style="text-align:right; font-weight:600;">@FormatAggregate(context)</div>
                                                        </FooterTemplate>
                                                        <GroupCaptionTemplate>
                                                            <span style="font-weight:600;">@FormatAggregate(context)</span>
                                                        </GroupCaptionTemplate>
                                                    </GridAggregateColumn>
                                                </GridAggregateColumns>
                                            </GridAggregate>
                                        </GridAggregates>
                                        <GridColumns>
                                            <GridColumn Field="@nameof(AnnualSalesGridRow.Article)" HeaderText="Article" Width="350" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                            <GridColumn Field="@nameof(AnnualSalesGridRow.Tiers)" HeaderText="Client" Width="260" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                            @foreach (var year in yearColumns)
                                            {
                                                <GridColumn Field="@year.QuantityField" HeaderText="@($"{year.Caption} Qté")" Width="105" Format="### ### ##0.00;-### ### ##0.00;#" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                                <GridColumn Field="@year.AmountField" HeaderText="@($"{year.Caption} Montant")" Width="120" Format="### ### ##0.00;-### ### ##0.00;#" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                            }
                                            <GridColumn Field="@nameof(AnnualSalesGridRow.TotalQte)" HeaderText="Total Qté" Width="110" Format="### ### ##0.00;-### ### ##0.00;#" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                            <GridColumn Field="@nameof(AnnualSalesGridRow.TotalMontant)" HeaderText="Total Montant" Width="130" Format="### ### ##0.00;-### ### ##0.00;#" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" />
                                        </GridColumns>
                                    </SfGrid>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                    </TabItems>
                </SfTab>
            </div>

        </RadzenContent>
    </Card_1>

}
else
{
    <div class="center-screen">
        <Loading_1 />
    </div>
}


@code
{
    [CascadingParameter]
    public SessionDT session { get; set; } = new SessionDT();
    DB db = new DB();
    private List<API_V_MARGE> items = new List<API_V_MARGE>();
    private List<ExpandoObject> clientGridRows = new List<ExpandoObject>();
    private List<ExpandoObject> articleGridRows = new List<ExpandoObject>();
    private List<YearColumn> yearColumns = new List<YearColumn>();
    DateTime? date1 = new DateTime(DateTime.Today.Year, 1, 1);
    DateTime? date2 = new DateTime(DateTime.Today.Year, 12, 31);
    IEnumerable<API_V_MARGE> data;
    bool IsLoaded = false;
    protected override async Task OnInitializedAsync()
    {
        db = session.db;
        GC.Collect();
        data = db.API_V_MARGE;
        await Task.Delay(1);
        await LoadData();
        IsLoaded = true;
    }
    private async Task LoadData()
    {
        IsLoaded = false;
        await Task.Delay(300);
        items = data
        .Where(a => ((date1 != null && a.DO_Date >= date1) || date1 == null) && ((date2 != null && a.DO_Date <= date2) || date2 == null))
        .OrderByDescending(a => a.DL_MontantTTC).ToList();
        BuildGridRows();
        IsLoaded = true;
        await Task.Delay(300);

    }
    SfGrid<ExpandoObject> RGGrid;
    SfGrid<ExpandoObject> FRGrid;
    SfGrid<ExpandoObject> ARGrid;

    private void BuildGridRows()
    {
        yearColumns = items
            .Where(a => !string.IsNullOrWhiteSpace(a.Annee))
            .GroupBy(a => a.Annee)
            .OrderBy(a => a.Key)
            .Select((a, index) => new YearColumn
            {
                Caption = a.Key,
                AmountField = $"Y{index}_Montant",
                QuantityField = $"Y{index}_Qte",
                Year = a.Key
            })
            .ToList();

        clientGridRows = items
            .GroupBy(a => new { a.CT_CodeRegion, a.CT_Intitule, a.AR_Design })
            .Select(a => BuildRow(
                region: a.Key.CT_CodeRegion,
                tiers: a.Key.CT_Intitule,
                article: a.Key.AR_Design,
                source: a,
                includeQuantity: false))
            .OrderByDescending(a => GetDecimal(a, nameof(AnnualSalesGridRow.TotalMontant)))
            .ToList();

        articleGridRows = items
            .GroupBy(a => new { a.AR_Design, a.CT_Intitule })
            .Select(a => BuildRow(
                region: null,
                tiers: a.Key.CT_Intitule,
                article: a.Key.AR_Design,
                source: a,
                includeQuantity: true))
            .OrderByDescending(a => GetDecimal(a, nameof(AnnualSalesGridRow.TotalMontant)))
            .ToList();
    }

    private ExpandoObject BuildRow(string region, string tiers, string article, IEnumerable<API_V_MARGE> source, bool includeQuantity)
    {
        var row = new ExpandoObject();
        var values = (IDictionary<string, object>)row;

        values[nameof(AnnualSalesGridRow.Region)] = region;
        values[nameof(AnnualSalesGridRow.Tiers)] = tiers;
        values[nameof(AnnualSalesGridRow.Article)] = article;

        decimal totalAmount = 0;
        decimal totalQuantity = 0;

        foreach (var year in yearColumns)
        {
            var yearItems = source.Where(a => a.Annee == year.Year).ToList();
            var amount = yearItems.Sum(a => a.DL_MontantHT ?? 0);
            values[year.AmountField] = amount;
            totalAmount += amount;

            if (includeQuantity)
            {
                var quantity = yearItems.Sum(a => a.DL_Qte ?? 0);
                values[year.QuantityField] = quantity;
                totalQuantity += quantity;
            }
        }

        values[nameof(AnnualSalesGridRow.TotalQte)] = totalQuantity;
        values[nameof(AnnualSalesGridRow.TotalMontant)] = totalAmount;

        return row;
    }

    private decimal GetDecimal(ExpandoObject row, string field)
    {
        var values = (IDictionary<string, object>)row;
        return values.TryGetValue(field, out var value) && value is decimal decimalValue ? decimalValue : 0;
    }

    private string FormatAggregate(object context)
    {
        var value = (context as AggregateTemplateContext)?.Sum;
        return string.IsNullOrWhiteSpace(value) ? string.Empty : value;
    }

    private class YearColumn
    {
        public string Caption { get; set; }
        public string AmountField { get; set; }
        public string QuantityField { get; set; }
        public string Year { get; set; }
    }

    private class AnnualSalesGridRow
    {
        public string Region { get; set; }
        public string Tiers { get; set; }
        public string Article { get; set; }
        public decimal TotalQte { get; set; }
        public decimal TotalMontant { get; set; }
    }

    protected async Task ShowDetail(RecordDoubleClickEventArgs<API_V_MARGE> args)
    {
        /*await DialogService.OpenAsync<DetailsAchat>(args.RowData.CT_Intitule,
        new Dictionary<string, object>() { { "Date1", date1 }, { "Date2", date2 }, { "CT_Num", args.RowData.CT_Num }, { "ClassHeight", "grid-84" } },
        new Radzen.DialogOptions() { CloseDialogOnEsc = true, Width = "98%", Height = "95%" });    */
    }
    public async Task CustomizeCell(Syncfusion.Blazor.Grids.QueryCellInfoEventArgs<API_V_MARGE> args)
    {
        var dt = args.Data;
        string col = args.Column.Field;
        string header = args.Column.HeaderText;
    }
}
