@page "/ordres-fabrication"
@attribute [Authorize(Roles = "Super Admin,Admin,Direction, Responsable RH,Responsable Materiel, Assistant Chantier")]
@if (IsLoaded)
{
	<Card_1 Title="@Title">
		<RadzenContent Container="main">
			<div class="grid-90">
				<div style="zoom: @session.zoomLevel; height: 100%;">
					<SfGrid Height="100%" AllowResizing AllowSorting AllowSelection ShowColumnChooser="true" ID="Grid" @ref="DefaultGrid"
							AllowPdfExport="true" AllowExcelExport="true" AllowPaging DataSource="@items"
							Toolbar="@(new List<object>() { "ColumnChooser", "Search", "Add", "Delete" })">
						<GridEditSettings ShowDeleteConfirmDialog="true" AllowAdding="@(!StockCreated)" AllowDeleting="@(!StockCreated)" AllowEditing="@(!StockCreated)" Mode="Syncfusion.Blazor.Grids.EditMode.Dialog" />
						<GridEvents OnActionBegin="OnActionBegin" OnRecordDoubleClick="Edit" TValue="API_V_ORDREFABRICATION"></GridEvents>
						<GridPageSettings PageSize="100"></GridPageSettings>
						<GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
						<GridTemplates>
							<EmptyRecordTemplate>
								<Empty></Empty>
							</EmptyRecordTemplate>
						</GridTemplates>
						<GridColumns>
							<GridColumn Width="100" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_ORDREFABRICATION.Date)" HeaderText="Date" Format="dd/MM/yy"></GridColumn>
							<GridColumn Width="120" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_ORDREFABRICATION.Numero)" HeaderText="Numéro"></GridColumn>
							<GridColumn Width="130" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_ORDREFABRICATION.DateLivraison)" HeaderText="Date Livraison" Format="dd/MM/yy"></GridColumn>
							<GridColumn Width="130" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_ORDREFABRICATION.NumCommande)" HeaderText="Numéro B.C"></GridColumn>
							<GridColumn Width="120" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_ORDREFABRICATION.CT_Num)" HeaderText="N° Client"></GridColumn>
							<GridColumn MinWidth="80" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_ORDREFABRICATION.CT_Intitule)" HeaderText="Client">

							</GridColumn>
							<GridColumn Width="120" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_ORDREFABRICATION.CA_Num)" HeaderText="N° Affaire"></GridColumn>
							<GridColumn MinWidth="160" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_ORDREFABRICATION.CA_Intitule)" HeaderText="Affaire">

							</GridColumn>
							<GridColumn MinWidth="160" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_ORDREFABRICATION.AR_Refs)" HeaderText="Détails">
							</GridColumn>
							<GridColumn Width="80" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_ORDREFABRICATION.StockCreated)" HeaderText="TR.Magasin">
								<Template>
									@{
										var dt = (context as API_V_ORDREFABRICATION);
										if (dt.StockCreated)
										{
											<RadzenIcon IconStyle="IconStyle.Success" Icon="check_circle" style="font-weight: 600;" />
										}
										else
										{
											<RadzenIcon IconStyle="IconStyle.Warning" Icon="schedule" style="font-weight: 600;" />
										}
									}
								</Template>
							</GridColumn>
							<GridColumn Width="80" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_V_ORDREFABRICATION.PreparationCreated)" HeaderText="DA.Crée">
								<Template>
									@{
										var dt = (context as API_V_ORDREFABRICATION);
										if (dt.PreparationCreated)
										{
											<RadzenIcon IconStyle="IconStyle.Success" Icon="check_circle" style="font-weight: 600;" />
										}
										else
										{
											<RadzenIcon IconStyle="IconStyle.Warning" Icon="schedule" style="font-weight: 600;" />
										}
									}
								</Template>
							</GridColumn>
						</GridColumns>
						<SfSpinner @bind-Visible="@loading">
						</SfSpinner>
					</SfGrid>
				</div>
			</div>
		</RadzenContent>
	</Card_1>
}
else
{
	<div class="center-screen">
		<Loading_1 />
	</div>
}




@code
{

	[CascadingParameter] public SessionDT session { get; set; } = new SessionDT();
	DB db = new DB();
	//Components
	private SfGrid<API_V_ORDREFABRICATION> DefaultGrid;
	[Parameter]
	public bool StockCreated { get; set; } = false;
	[Parameter]
	public string Title { get; set; } = "LISTE DES ORDRES DE FABRICATION";

	private List<API_V_ORDREFABRICATION> items = new List<API_V_ORDREFABRICATION>();
	bool loading = false;
	bool IsLoaded = false;
	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(1);
		db = session.db;
		GC.Collect();
		await LoadData();
		IsLoaded = true;

	}
	private async Task LoadData()
	{
		items = session.db.API_V_ORDREFABRICATION
        .Where(a => (StockCreated && a.StockCreated) || (!StockCreated))
		.OrderByDescending(a => a.Date).ToList();
	}

	protected async Task Edit(RecordDoubleClickEventArgs<API_V_ORDREFABRICATION> args)
	{

		await DialogService.OpenAsync<OrdreFabricationFiche>(args.RowData.Numero,
	new Dictionary<string, object>() { { "id", args.RowData.id }, { "StockCreated", StockCreated } },
	new Radzen.DialogOptions() { Width = "95%", Height = "95%", CloseDialogOnEsc = false, Style="max-width: 1500px;" });
		await LoadData();
	}
	private async Task Add()
	{
		await DialogService.OpenAsync<OrdreFabricationFiche>($"Ajouter un élément",
		new Dictionary<string, object>() { { "id", 0 }, { "StockCreated", StockCreated } },
		new Radzen.DialogOptions() { Width = "95%", Height = "95%", CloseDialogOnEsc = false, Style = "max-width: 1500px;" });
		await LoadData();
	}
	private async Task OnActionBegin(ActionEventArgs<API_V_ORDREFABRICATION> args)
	{
		if (args.RequestType == Syncfusion.Blazor.Grids.Action.Add
	|| args.RequestType == Syncfusion.Blazor.Grids.Action.Print
	|| args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
		{
			args.Cancel = true;
		}

		if (args.RequestType == Syncfusion.Blazor.Grids.Action.Add)
		{
			await Add();
		}
		if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
		{
			db.Database.ExecuteSqlRaw("DELETE FROM API_V_ORDREFABRICATIONDetail WHERE Ligne IN (SELECT id FROM API_V_ORDREFABRICATIONLigne WHERE Ordre = {0})", args.Data.id);
			db.Database.ExecuteSqlRaw("DELETE FROM API_V_ORDREFABRICATIONLigne WHERE Ordre = {0}", args.Data.id);
			db.Database.ExecuteSqlRaw("DELETE FROM API_V_ORDREFABRICATION WHERE id = {0}", args.Data.id);
			db.SaveChanges();
			await LoadData();
		}

	}




}