@using LinqToDB;
@using LinqToDB.Data;
@using LinqToDB.EntityFrameworkCore;
<div class="dg-parent">
    <div>
        <GridRow>
            <GridCol Xs="24" Md="24">
                <Form Model="@row" Size="@AntSizeLDSType.Small" Layout="@FormLayout.Horizontal" LabelColSpan="6" Context="FormContext">
                    <GridRow>
                        <GridCol Xs="24" Md="24">
                            <FormItem LabelAlign="AntLabelAlignType.Left" Label="Référence" LabelColSpan="6">
                                <SfTextBox @bind-Value="@row.AR_Ref" Readonly />
                            </FormItem>
                            <FormItem LabelAlign="AntLabelAlignType.Left" Label="Désignation" LabelColSpan="6">
                                <SfTextBox @bind-Value="@row.AR_Design" Readonly />
                            </FormItem>
                            <Divider></Divider>
                            <FormItem LabelAlign="AntLabelAlignType.Left" Label="Qté" LabelColSpan="6">
                                <SfNumericTextBox @bind-Value="@qte" ShowSpinButton="false" Decimals="2" Format="N2" />
                            </FormItem>
                            <FormItem LabelAlign="AntLabelAlignType.Left" Label="PU" LabelColSpan="6">
                                <SfNumericTextBox @bind-Value="@pu" ShowSpinButton="false" Decimals="2" Format="N2" />
                            </FormItem>
                        </GridCol>
                    </GridRow>
                </Form>
            </GridCol>
        </GridRow>
    </div>
    <div class="btns-end">
        <SfButton IsPrimary="true" OnClick="Submit">Affecter</SfButton>
        <SfButton OnClick="Annuler">Annuler</SfButton>
    </div>
</div>

@code 
{

    [CascadingParameter]
    public SessionDT session { get; set; } = new SessionDT();
    DB db = new DB();
    [Parameter]
    public List<API_V_DOCLIGNE> dt { get; set; }
    [Parameter]
    public F_ARTICLE row { get; set; } = new F_ARTICLE();
    Decimal qte = 0;
    Decimal pu = 0;
    protected override async Task OnInitializedAsync()
    {
        db = session.db;
        if (dt.Any())
        {
            qte = dt.First().DL_Qte ?? 0;
            pu = dt.First().DL_PrixUnitaire ?? 0;
        }
        GC.Collect();
        await Task.Delay(1);
    }
    private async Task Submit()
    {
        fn.DisableTriggers(db, "F_ARTSTOCK", "INS");
        fn.DisableTriggers(db, "F_ARTSTOCK", "UPD");
        fn.DisableTriggers(db, "F_DOCLIGNE", "INS");
        fn.DisableTriggers(db, "F_DOCLIGNE", "DEL");

        try
        {
            // Get max DL_No using Entity Framework (synchronous)
            var maxDL_No = db.F_DOCLIGNE.Max(a => a.DL_No);
            var newLines = new List<F_DOCLIGNE>();
            var auditEntries = new List<API_T_Audit_F_DOCLIGNE>();

            // Collect items to delete
            var itemsToDelete = new List<(int DL_No, int cbMarq)>();

            foreach (API_V_DOCLIGNE item in dt)
            {
                maxDL_No++;

                // Create new document line
                var ln = CreateDocumentLine(item, maxDL_No??0);
                newLines.Add(ln);

                // Create audit entry
                auditEntries.Add(CreateAuditEntry(item));

                // Store delete info
                itemsToDelete.Add((item.DL_No ?? 0, item.cbMarq));
            }

            // Use LinqToDB for bulk operations
            using var _db = db.CreateLinqToDBConnection();

            // Perform all operations in a transaction
            using (var transaction = await _db.BeginTransactionAsync())
            {
                try
                {
                    // Bulk insert new lines
                    if (newLines.Any())
                    {
                        await _db.BulkCopyAsync(new BulkCopyOptions
                        {
                            BulkCopyType = BulkCopyType.MultipleRows
                        }, newLines);
                    }

                    // Bulk insert audit entries
                    if (auditEntries.Any())
                    {
                        await _db.BulkCopyAsync(new BulkCopyOptions
                        {
                            BulkCopyType = BulkCopyType.MultipleRows
                        }, auditEntries);
                    }

                    // Delete operations using LinqToDB
                    if (itemsToDelete.Any())
                    {
                        var dlNos = itemsToDelete.Select(x => x.DL_No).Distinct().ToArray();
                        var cbMarqs = itemsToDelete.Select(x => x.cbMarq).Distinct().ToArray();

                        // Delete from F_DOCLIGNEEMPL
                        await _db.GetTable<F_DOCLIGNEEMPL>()
                            .Where(x => dlNos.Contains(x.DL_No))
                            .DeleteAsync();

                        // Delete from F_DOCLIGNE
                        await _db.GetTable<F_DOCLIGNE>()
                            .Where(x => cbMarqs.Contains(x.cbMarq))
                            .DeleteAsync();
                    }

                    await transaction.CommitAsync();
                }
                catch
                {
                    await transaction.RollbackAsync();
                    throw;
                }
            }

            // Update stock (if UpdateStock uses EF, keep it separate)
            await UpdateStock(row.AR_Ref);
            db.SaveChanges();
        }
        finally
        {
            fn.EnableTriggers(db, "F_ARTSTOCK", "INS");
            fn.EnableTriggers(db, "F_ARTSTOCK", "UPD");
            fn.EnableTriggers(db, "F_DOCLIGNE", "INS");
            fn.EnableTriggers(db, "F_DOCLIGNE", "DEL");

            DialogService.Close();
        }
    }

    private F_DOCLIGNE CreateDocumentLine(API_V_DOCLIGNE item, int dlNo)
    {
        var ln = new F_DOCLIGNE();
        fn.CopyData(item, ln);

        ln.AR_RefNavigation = null;
        ln.DL_Qte = qte;
        ln.EU_Qte = qte;
        ln.DL_PrixUnitaire = pu;
        ln.DL_PUTTC = pu + (pu * (item.DL_Taxe1 / 100));
        ln.DL_CMUP = row.AR_PrixAch;
        ln.DL_PrixRU = row.AR_PrixAch;

        // Calculate amounts more clearly
        decimal priceAfterRem1 = ln.DL_PrixUnitaire - (ln.DL_PrixUnitaire * ln.DL_Remise01REM_Valeur / 100) ?? 0;
        decimal priceAfterRem2 = priceAfterRem1 - (priceAfterRem1 * ln.DL_Remise02REM_Valeur / 100) ?? 0;
        decimal priceAfterRem3 = priceAfterRem2 - (priceAfterRem2 * ln.DL_Remise03REM_Valeur / 100) ?? 0;

        ln.DL_MontantHT = Math.Round((priceAfterRem3 * ln.DL_Qte) ?? 0, 2);
        ln.DL_MontantTTC = Math.Round(ln.DL_MontantHT + (ln.DL_MontantHT * ln.DL_Taxe1 / 100) ?? 0, 2);
        ln.AR_Ref = row.AR_Ref;
        ln.DL_Design = row.AR_Design;
        ln.DL_No = dlNo;

        var hist = new API_T_AREdit_Hist();
        hist.DateOP = DateTime.Now; 
        hist.OldAR_Ref = item.AR_Ref;
        hist.NewAR_Ref = ln.AR_Ref;
        hist.OldDesign = item.DL_Design;
        hist.NewDesign = ln.DL_Design;
        hist.OldQte = item.DL_Qte ?? 0;
        hist.NewQte = ln.DL_Qte ?? 0;
        hist.OldPU = item.DL_PrixUnitaire ?? 0;
        hist.NewPU = ln.DL_PrixUnitaire ?? 0;
        hist.NewCT_Intitule = sc.User.Name;
        hist.OldCT_Num = item.CT_Num;
        hist.OldCT_Intitule = item.CT_Intitule;
        hist.OldDate = item.DO_Date;
        hist.NewDate = ln.DO_Date;
        hist.OldPiece = item.DO_Piece;
        hist.NewPiece = ln.DO_Piece;
        hist.OldcbMarq = item.cbMarq;
        hist.NewcbMarq = ln.cbMarq;
        hist.OldHT = item.DL_MontantHT ?? 0;
        hist.NewHT = ln.DL_MontantHT ?? 0;
        hist.OldTTC = item.DL_MontantTTC ?? 0;
        hist.NewTTC = ln.DL_MontantTTC ?? 0;


        db.Add(hist);


        return ln;
    }

    private API_T_Audit_F_DOCLIGNE CreateAuditEntry(API_V_DOCLIGNE item)
    {
        return new API_T_Audit_F_DOCLIGNE
        {
            AR_Ref = item.AR_Ref,
            DO_Date = item.DO_Date,
            DO_Type = item.DO_Type,
            DO_Piece = item.DO_Piece,
            Operation = "Modification",
            DL_Qte = item.DL_Qte ?? 0,
            DL_PrixUnitaire = item.DL_PrixUnitaire ?? 0,
            DL_Remise01REM_Valeur = item.DL_Remise01REM_Valeur ?? 0,
            DL_Remise02REM_Valeur = item.DL_Remise02REM_Valeur ?? 0,
            DL_Remise03REM_Valeur = item.DL_Remise03REM_Valeur ?? 0,
            cbMarq = item.cbMarq,
            CT_Num = item.CT_Num,
            Timestamp = DateTime.Now,
            PF_Num = ""
        };
    }
    private async Task Annuler()
    {
        DialogService.Close();
    }

    private async Task UpdateStock(string Ref)
    {

        string q00 = @"INSERT INTO F_ARTSTOCK ([AR_Ref],[DE_No],[AS_QteMini],[AS_QteMaxi],[AS_MontSto],[AS_QteSto],[AS_QteRes],[AS_QteCom],[AS_Principal],[AS_QteResCM],[AS_QteComCM]
            ,[AS_QtePrepa],[DP_NoPrincipal],[DP_NoControle],[AS_QteAControler],[AS_Mouvemente],[cbProt])

                SELECT
                b.AR_Ref,a.DE_No,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0.000000,
                0.000000,0.000000,0,0,0,0,0


                FROM F_DEPOT a
                INNER JOIN F_ARTICLE b ON 1 = 1
                LEFT JOIN F_ARTSTOCK de ON a.DE_No = de.DE_No AND b.AR_Ref = de.AR_Ref


                WHERE b.AR_Ref = {0} AND de.AR_Ref IS NULL";    
        string q1 = @"UPDATE a SET a.AS_QteSto = ISNULL(b.Qte,0), a.AS_MontSto = ISNULL(c.PU,0) * ISNULL(b.Qte,0)

                        FROM F_ARTSTOCK a
                        LEFT JOIN
                        (SELECT
                        a.DE_No,
                        a.AR_Ref,
                        SUM(CASE WHEN a.DL_MvtStock = 1 THEN a.DL_Qte ELSE -a.DL_Qte END) Qte
                        FROM F_DOCLIGNE a
                        WHERE a.DL_MvtStock IN (1,3)
                        GROUP BY
                        a.DE_No,
                        a.AR_Ref) b ON a.DE_No = b.DE_No AND a.AR_Ref = b.AR_Ref

                        LEFT JOIN
                        (
                        (SELECT
                        a.DE_No,
                        a.AR_Ref,
                        CASE WHEN SUM(a.DL_Qte) != 0 THEN SUM(a.DL_MontantHT)/SUM(a.DL_Qte) ELSE 0 END PU
                        FROM F_DOCLIGNE a
                        WHERE a.DL_MvtStock = 1
                        GROUP BY a.AR_Ref,
                        a.DE_No)
                        ) c ON a.DE_No = c.DE_No AND a.AR_Ref = c.AR_Ref WHERE a.AR_Ref = {0}";
        db.Database.ExecuteSqlRaw(q00, Ref);
        db.Database.ExecuteSqlRaw(q1, Ref);

    }

 }