@page "/tva-periodes"
@attribute [Authorize]
@if (!IsLoaded)
{
    <div class="center-screen">
        <Loading_1 />
    </div>
}
else
{
    <Card_1 Title="Liste des periodes">
        <SfToolbar>
            <ToolbarItems>
                <ToolbarItem Disabled OnClick=@(args => (DefaultGrid.OpenColumnChooserAsync(1, 1))) TooltipText="Colonnes selectionnées" Text="Colonnes selectionnées" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Left" PrefixIcon="e-icons e-more-vertical-2"></ToolbarItem>
                <ToolbarItem Align="ItemAlign.Left" Type="ItemType.Separator" />
                <ToolbarItem TooltipText="CHERCHE" Align="ItemAlign.Right" Overflow="OverflowOption.Show" Type="ItemType.Input">
                    <Template>
                        <SfTextBox Width="300px" Placeholder="RECHERCHE" ValueChanged="@(args => DefaultGrid.SearchAsync(args))"></SfTextBox>
                    </Template>
                </ToolbarItem>
                <ToolbarItem OnClick=@(args => (DefaultGrid.DeleteRecordAsync())) TooltipText="Supprimer" Text="Supprimer" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Right" PrefixIcon="e-icons e-circle-remove"></ToolbarItem>
                <ToolbarItem OnClick="AddClick" TooltipText="Ajouter" Text="Ajouter" ShowTextOn="DisplayMode.Overflow" Align="ItemAlign.Right" PrefixIcon="e-icons e-circle-add"></ToolbarItem>
            </ToolbarItems>
        </SfToolbar>
        <div class="grid-container">
            <SfGrid Height="100%" DataSource="@(items)">
                <GridPageSettings PageSize="100"></GridPageSettings>
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                <GridEditSettings ShowDeleteConfirmDialog="true" AllowAdding="true" AllowDeleting="true" Mode="Syncfusion.Blazor.Grids.EditMode.Dialog">
                </GridEditSettings>
                <GridEvents  TValue="API_T_Declaration" OnRecordDoubleClick="RowDoubleClick"></GridEvents>
                <GridTemplates Context="GridContext">
                    <EmptyRecordTemplate>
                        <Empty></Empty>
                    </EmptyRecordTemplate>
                </GridTemplates>
                <GridColumns>
                    <GridColumn HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_T_Declaration.Intitule)" HeaderText="Intitulé"></GridColumn>
                    <GridColumn Width="100" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_T_Declaration.DateDebut)" Format="dd/MM/yyyy" HeaderText="DateDebut" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" ></GridColumn>
                    <GridColumn Width="100" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_T_Declaration.DateFin)" Format="dd/MM/yyyy" HeaderText="DateFin" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"></GridColumn>
                    <GridColumn Width="150" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_T_Declaration.Statut)" HeaderText="Statut"></GridColumn>
                    <GridColumn Width="180" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_T_Declaration.TVACollectee)" HeaderText="TVACollectee"></GridColumn>
                    <GridColumn Width="180" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_T_Declaration.TVADeductible)" HeaderText="TVADeductible"></GridColumn>
                    <GridColumn Width="180" HeaderTextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Field="@nameof(API_T_Declaration.TVANette)" HeaderText="TVANette"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </Card_1>
}


@code
{

    [CascadingParameter]
    public SessionDT session { get; set; }
    DB db = new DB();
    private SfGrid<API_T_Declaration> DefaultGrid;
    private IEnumerable<API_T_Declaration> items;
    bool loading = true;
    bool IsLoaded = false;


    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        db = session.db;
        await LoadData();
        IsLoaded = true;
    }
    private async Task LoadData()
    {
        items = db.API_T_Declaration.AsNoTracking().Where(a => a.SocieteId == session.Societe.id).ToList();
    }

    protected async Task RowDoubleClick(RecordDoubleClickEventArgs<API_T_Declaration> args)
    {
        await DialogService.OpenAsync<PeriodeFiche>("",
        new Dictionary<string, object>() { { "id", args.RowData.Id }, { "Societe", session.Societe.id } },
        new Radzen.DialogOptions() { CloseDialogOnEsc = true, Width = "99%", Height = "99%" });
        await LoadData();
    }

    protected async Task AddClick()
    {
        await DialogService.OpenAsync<AddPeriode>($"Ajouter un element",
        new Dictionary<string, object>() { },
        new Radzen.DialogOptions() { CloseDialogOnEsc = true, Width = "500px", Height = "580px" });
        await LoadData();
    }

}